{% if loop.first %}

{% if craft.request.getSegment(2) == "" %}
<h3>{{ "Campaigns"|t }}</h3>
{% endif %}

<table id="campaigns" class="data fullwidth">
	<thead>
		<th width="65%"></th>
		<th width="15%"></th>
		<th width="15%"></th>
	</thead>
{% endif %}

	<tr data-id="{{ campaign.id }}" data-entry-id="{{ campaign.entryId }}" data-name="{{ campaign.name|t }}">
		<td>
			<a href="{{ url('sproutemail/campaigns/edit/') }}/{{ campaign.id }}">{{ campaign.title ? campaign.title : 'New Campaign' }}</a><br/>
			<span style="color: #999;text-transform:uppercase;font-size:.8em">{{ campaign.name }} <span style="color:#121212;">/</span> {{ campaign.dateUpdated|date('F d, Y') }}</span>
		</td>
		
		{% if campaign.sectionId and campaign.entryId and campaign.textTemplate and campaign.emailProvider %}
		<td>				    
			<a href="{{ siteUrl }}{{campaign.htmlTemplate}}?sectionId={{campaign.sectionId}}&handle={{campaign.handle}}&entryId={{campaign.entryId}}&slug={{campaign.slug}}" target="_blank">HTML</a> 
			/ 
			<a href="{{ siteUrl }}{{campaign.textTemplate}}?sectionId={{campaign.sectionId}}&handle={{campaign.handle}}&entryId={{campaign.entryId}}&slug={{campaign.slug}}" target="_blank">Text</a> 
		</td>
		<td>
			<a href="#" class="export" >
				{% if campaign.emailProvider == 'SproutEmail' or campaign.emailProvider == 'SendGrid' %}
				 Send campaign immediately via {{ campaign.emailProvider }} 
				{% else %}
				 Export to {{ campaign.emailProvider }} 
				{% endif %}
			&rsaquo;&rsaquo;
			</a> 
		</td>
		{% else %}
		<td colspan="2">
		<i>This campaign is incomplete.</i>
		</td>
		{% endif %}
	</tr>

{% if loop.last %}
</table>
<br/>
<br/>

{% set js %}
	new Craft.AdminTable({
		tableSelector: '#campaigns',
		noObjectsSelector: '#nocampaigns',
		deleteAction: 'SproutEmail/campaigns/delete'
	});
	
	jQuery(document).ready(function(){
		jQuery('.export').click(function(){
			var query = 'entryId='+jQuery(this).closest('tr').attr('data-entry-id')
			+ '&campaignId='+jQuery(this).closest('tr').attr('data-id')
			+ '&action=SproutEmail/campaigns/export';
			$.post('{{ url('SproutEmail/campaigns/export') }}',query, function(data){
				alert(data);
			})
			return false;
		})
	})
{% endset %}
{% includeJs js %}

{% endif %}