{% spaceless %}

{% if loop.first %}
<div class="tableview">
	<table id="entries" class="data fullwidth">
		<thead>
		<th></th>
		<th>{{ "Subject Line"|t }}</th>
		<th>{{ "Date Created"|t }}</th>
		<th>{{ "Type"|t }}</th>
		<th>{{ "Preview"|t }}</th>
		<th>{{ "Send"|t }}</th>
		</thead>
		<tbody>

		{% endif %}

		{% set mailer = craft.sproutEmail.getMailer(campaign.mailer) %}
		<tr data-id="{{ email.id }}" data-name="{{ email.title|t }}">
			<td class="thin" data-checkboxcell="">
				<div class="checkbox" title="Select"></div>
			</td>
			<td data-titlecell>
				<span class="status {{ email.status == 'ready' ? 'enabled' : email.status }}"></span>
				<a href="{{ url('sproutemail/campaigns/edit/' ~ email.id) }}">{{ email.title ? email.title : 'New Email'|t }}</a>
			</td>
			<td>
				{{ email.dateCreated|date('m/d/Y') }}
			</td>
			<td>
				{{ campaign.type|ucfirst }}
			</td>
			<td>

				{% if email.getUrl() and not campaign.isNotification() %}

				<a href="{{ email.url }}" title="{{ email.title }}" target="_blank">{{ "HTML"|t }}</a>
				&nbsp;/&nbsp;
				<a href="{{ email.url }}?type=text" title="{{ email.subjectLine }}" target="_blank">{{ "Text"|t }}</a>

				{% endif %}


				{% if not email.getUrl() and not campaign.isNotification() %}

				<a href="{{ cpUrl('sproutemail/settings/campaigns/edit/' ~ email.campaignId) }}">Enable URLs</a>

				{% endif %}

			</td>
			<td class="nowrap">
				{% if mailer and mailer.isInstalled() %}
				{% if email.isReady() %}
				<a href="#"
					data-action="{{ mailer.getActionForPrepareModal() }}"
					data-mailer="{{ mailer.getId() }}"
					data-email-id="{{ email.id }}"
					data-campaign-id="{{ campaign.id }}"
					class="prepare">{{ "Prepare"|t }}</a>
				{% else %}
					<span class="light">Prepare</span>
				{% endif %}
				{% endif %}
			</td>
		</tr>

		{% if loop.last %}
		</tbody>
	</table>

	{% include "sproutemail/_modals/box" %}

</div><!-- tableview  -->

{% endif %}

{% endspaceless -%}
