{% if loop.first %}

<table id="campaigns" class="data">
	<thead>
		<th width="40%"></th>
		<th width="20%"></th>
		<th width="10%"></th>
		<th width="15%"></th>
	</thead>
{% endif %}

	<tr data-id="{{ campaign.id }}" data-entry-id="{{ campaign.entryId }}" data-name="{{ campaign.name|t }}">
		<td>
			<a href="{{ url('sproutemail/campaigns/edit/') }}/{{ campaign.id }}">{{ campaign.title }}</a><br/>
			<span style="color: #999;text-transform:uppercase;font-size:.8em">{{ campaign.name }} <span style="color:#121212;">/</span> {{ campaign.dateUpdated|date('F d, Y') }}</span>
		</td>
		<td>
			<a href="{{ url('sproutemail/campaigns/edit/') }}/{{ campaign.id }}">
				Campaign Info
			</a> / 
			<a href="{{ url('sproutemail/campaigns/edit/') }}/{{ campaign.id }}/template">
				Templates
			</a> /
			<a href="{{ url('sproutemail/campaigns/edit/') }}/{{ campaign.id }}/recipients">
				Recipients
			</a>
		</td>
		
		{% if campaign.sectionId and campaign.entryId and campaign.textTemplate and campaign.emailProvider %}
		<td>				    
			<a href="{{ siteUrl }}{{campaign.htmlTemplate}}?sectionId={{campaign.sectionId}}&handle={{campaign.handle}}&entryId={{campaign.entryId}}&slug={{campaign.slug}}" target="_blank">HTML</a> 
			/ 
			<a href="{{ siteUrl }}{{campaign.textTemplate}}?sectionId={{campaign.sectionId}}&handle={{campaign.handle}}&entryId={{campaign.entryId}}&slug={{campaign.slug}}" target="_blank">Text</a> 
		</td>
		<td>
			<a href="#" class="export" >Export to {{ campaign.emailProvider }} &rsaquo;&rsaquo;</a> 
		</td>
		{% else %}
		<td colspan="2">
		<i>This campaign is incomplete.</i>
		</td>
		{% endif %}
	</tr>

{% if loop.last %}
</table>
<br/>
<br/>

{% endif %}