{% if loop.first %}
	<h3>{{ "Entries"|t }}</h3>

	<table id="entries" class="data fullwidth">
		<thead>
			<th width="50%">Entry</th>
			<th width="15%">Type</th>
			<th width="15%">Date Created</th>
			<th width="20%">Actions</th>
		</thead>
{% endif %}

		{% set mailer = craft.sproutEmail.getMailer(campaign.mailer) %}

		<tr data-id="{{ entry.id }}" data-name="{{ entry.title|t }}">
			<td>
				<span class="status {{ entry.status }}"></span>
				<a href="{{ url('sproutemail/entries/edit/' ~ entry.id) }}">{{ entry.title ? entry.title : 'New Entry' }}</a>
			</td>
			<td>
				{{ campaign.type|ucfirst }}
			</td>
			<td>
				{{ entry.dateCreated|date('m/d/Y') }}
			</td>
			<td>
				{% if mailer and mailer.isInstalled() %}
					{% if entry.status == 'ready' %}
						<a href="#"
							data-action="{{ mailer.getActionForPrepareModal() }}"
							data-mailer="{{ mailer.getId() }}"
							data-entry-id="{{ entry.id }}"
							data-campaign-id="{{ campaign.id }}"
							class="prepare">{{ mailer.getPrepareModalLinkTitle() }}</a>

						{% if not campaign.isNotification() %}
							/
							<a href="/{{ entry.uri }}" title="{{ entry.title }}" target="_blank">HTML</a>
							/
							<a href="/{{ entry.uri }}?type=text" title="{{ entry.subjectLine }}" target="_blank">Text</a>
						{% endif %}
					{% endif %}
				{% endif %}
			</td>
		</tr>
{% if loop.last %}
	</table>

	{# Placeholder Sprout Modal #}
	<div id="sproutmodal" class="modal fitted hidden" style="padding: 1em;">
		<div class="body">
			<div id="content"></div>
			<div class="spinner hidden"></div>
		</div>
	</div>

	{# Placeholder Sprout Modal Content #}
	<div id="sproutmodalcontent" class="hidden" style="padding: 1em;">
		<h2>Response Message</h2>
		<p class="innercontent error"></p>
		<hr>
		<div class="buttons right">
			<button id="close" class="btn">{{ "Close"|t }}</button>
		</div>
	</div>

	{# Placeholder Sprout Modal Loading #}
	<div id="sproutmodalloading" class="hidden" style="padding: 1em;">
		<h2>Loading...</h2>
		<div class="spinner"></div>
	</div>

{% endif %}

{% set statusSnippet %}
	.status.ready {
		background-position: 0 0; // @green
	}
	.status.pending {
		background-position: 0 -10px; // @orange
	}
	.status.disabled {
		background-position: 0 -20px; // @red
	}
{% endset %}

{% includeCss(statusSnippet) %}
