{% if loop.first %}
	<h3>{{ "Entries"|t }}</h3>

	<table id="entries" class="data fullwidth">
		<thead>
			<th width="50%">Entry</th>
			<th width="15%">Type</th>
			<th width="15%">Date Created</th>
			<th width="20%">Actions</th>
		</thead>
{% endif %}

		{% set mailer = craft.sproutEmail.getMailer(campaign.mailer) %}

		<tr data-id="{{ entry.id }}" data-name="{{ entry.title|t }}">
			<td>
				<span class="status {{ entry.status }}"></span>
				<a href="{{ url('sproutemail/entries/edit/' ~ entry.id) }}">{{ entry.title ? entry.title : 'New Entry' }}</a>
			</td>
			<td>
				{{ campaign.type }}
			</td>
			<td>
				{{ entry.dateCreated|date('m/d/Y') }}
			</td>
			<td>
				{% if mailer and mailer.isInstalled() %}
					{% set params = {
						html: 'html',
						text: 'text',
						mailer: mailer.getId(),
						entryId: entry.id,
						campaignId: campaign.id
					} %}

					<a href="#"
						data-action="{{ mailer.getActionForPrepareModal() }}"
						data-mailer="{{ mailer.getId() }}"
						data-entry-id="{{ entry.id }}"
						data-campaign-id="{{ campaign.id }}"
						class="prepare">Prepare</a>

					{% if entry.getUrl() is not empty %}
						|
						<a href="{{ entry.getUrl() }}" title="{{ entry.subjectLine }}" target="_blank">HTML</a>
					{% endif %}
				{% endif %}
			</td>
		</tr>
{% if loop.last %}
	</table>

	{# Placeholder Sprout Modal #}
	<div id="sproutmodal" class="modal fitted hidden" style="padding: 1em;">
		<div class="body">
			<div id="content"></div>
			<div class="spinner hidden"></div>
		</div>
	</div>

{% endif %}

{% includeJsResource 'sproutemail/js/sproutmodal.js' %}
