
{{ forms.textField({
	label: "From Name"|t,
	id: 'fromName',
	name: 'fromName',
	instructions: "The person or business sending the email"|t,
	value: (emailBlastType is defined ? emailBlastType.fromName : null),
	required: true,
	errors: (emailBlastType is defined ? emailBlastType.getErrors('fromName') : null)   
}) }}

{{ forms.textField({
	label: "From Email"|t,
	id: 'fromEmail',
	name: 'fromEmail',
	instructions: "The email address of the person or business sending the email"|t,
	value: (emailBlastType is defined ? emailBlastType.fromEmail : null),
	required: true,
	errors: (emailBlastType is defined ? emailBlastType.getErrors('fromEmail') : null)  
}) }}

{{ forms.textField({
	label: "Reply To Email"|t,
	id: 'replyToEmail',
	name: 'replyToEmail',
	instructions: "The email address which will be used if any recipients reply to your email"|t,
	value: (emailBlastType is defined ? emailBlastType.replyToEmail : null),
	required: true,
	errors: (emailBlastType is defined ? emailBlastType.getErrors('replyToEmail') : null)   
}) }}