
{{ forms.field({
    label: "From Name <span class='info'>The person or business sending the email</span>"|t,
		errors: (emailBlastType is defined ? emailBlastType.getErrors('fromName') : null),
		required: true,  
	}, forms.textField({
		name: 'sproutEmail[fromName]',
		value: (emailBlastType is defined ? emailBlastType.fromName : null),
})) }}

{{ forms.field({
    label: "From Email <span class='info'>The email address of the person or business sending the email</span>"|t,
    required: true,  
		errors: (emailBlastType is defined ? emailBlastType.getErrors('fromEmail') : null),
	}, forms.textField({
		name: 'sproutEmail[fromEmail]',
		value: (emailBlastType is defined ? emailBlastType.fromEmail : null),
})) }}

{{ forms.field({
    label: "Reply To Email <span class='info'>The email address which will be used if any recipients reply to your email</span>"|t,
    required: true,  
		errors: (emailBlastType is defined ? emailBlastType.getErrors('replyToEmail') : null),
	}, forms.textField({
		name: 'sproutEmail[replyToEmail]',
		value: (emailBlastType is defined ? emailBlastType.replyToEmail : null),
})) }}