{% spaceless %}

{% if loop.first and craft.request.getPost("elementAction") == null %}
	<div class="tableview">
	<table id="entries" class="data fullwidth">
		<thead>
			<th>{{ "Subject"|t }}</th>
			<th>{{ "Send Date"|t }}</th>
			<th>{{ "Sender"|t }}</th>
			<th>{{ "Recipient"|t }}</th>

			<th>&nbsp;</th>

		</thead>
		<tbody>

{% endif %}


		<tr data-id="{{ entry.id }}" data-name="{{ entry.emailSubject|t }}">
				<td data-titlecell>
					<a href="{{ url('sproutemail/sentemails/view/' ~ entry.id) }}">{{ entry.title }}</a>
				</td>

				<td>
					{{ entry.dateCreated|date('F d, Y H:i a') }}
				</td>

				<td>
					{{ entry.fromEmail }}
				</td>

				<td>
					{{ entry.toEmail }}
				</td>

				<td>
					<a class="prepare" data-action="sproutEmail/sentEmail/getViewContentModal" data-entry-id="{{ entry.id }}" href="{{ url('sproutemail/sentemails/view/' ~ entry.id) }}">{{ "View Content"|t }}</a>
				</td>
		</tr>

{% if loop.last and craft.request.getPost("elementAction") == null %}

	 </tbody>
	</table>

	{% include "sproutemail/_modals/box" %}
{% endif %}

</div><!-- tableview  -->

{% endspaceless -%}
