{% spaceless %}

{% if loop.first and craft.request.getPost("elementAction") == null %}
	<div class="tableview">
	<table id="entries" class="data fullwidth">
		<thead>
			<th>{{ "Date Sent"|t }}</th>
			<th>{{ "Recipient"|t }}</th>
			<th>{{ "Subject"|t }}</th>

			<th></th>
			<th></th>
			<th></th>
		</thead>
		<tbody>

{% endif %}

			<tr class="infoRow"
				data-id="{{ entry.id }}"
				data-name="{{ entry.emailSubject|t }}"
					{{ entry.getInfoRow() }}
					>
				<td>
					<span class="status {{ entry.status }}"></span> {{ entry.dateCreated|date('M j, Y g:ia') }}
				</td>

				<td>
					{{ entry.toEmail }}
				</td>

				<td data-titlecell>
					{{ entry.title }}
				</td>

				<td>
					<a class="prepare" data-action="sproutEmail/sentEmail/getViewContentModal" data-entry-id="{{ entry.id }}" href="{{ url('sproutemail/sentemails/view/' ~ entry.id) }}">{{ "View Content"|t }}</a>
				</td>
				<td>
					{% if entry.status == 'failed' %}
			<a class="prepare" data-action="sproutEmail/sentEmail/getResendModal" data-entry-id="{{ entry.id }}" href="{{	url('sproutemail/sentemails/view/' ~ entry.id) }}">{{ "Resend"|t }}</a>
						{% endif %}
				</td>

				<td>
					<span class="tableRowInfo" data-icon="info" href="#"></span>
				</td>
		</tr>

{% if loop.last and craft.request.getPost("elementAction") == null %}

	 </tbody>
	</table>

	{% include "sproutemail/_modals/box" %}
{% endif %}

</div><!-- tableview  -->

{% endspaceless -%}

{% includeCssResource 'sproutemail/css/sproutemail.css' %}
{% includeJsResource 'sproutemail/js/TableRowAdditionalInfoIcon.js' %}

{% set js %}

	$.each($('.tableRowInfo'), function () {
		new Craft.SproutEmail.TableRowAdditionalInfoIcon(this);
	});

{% endset %}

{% includeJs js %}