{% spaceless %}

{% if loop.first and craft.request.getPost("elementAction") == null %}
	<div class="tableview">
	<table id="entries" class="data fullwidth">
		<thead>
			<th>{{ "Sent On"|t }}</th>
			<th>{{ "Recipient"|t }}</th>
			<th>{{ "Subject"|t }}</th>

			<th></th>
			<th></th>

		</thead>
		<tbody>

{% endif %}

			<tr class="infoRow"
				data-id="{{ entry.id }}"
				data-name="{{ entry.emailSubject|t }}"
				data-inforow='[
					{"label":"Sender","attribute":"sender"},
					{"label":"Mailer","attribute":"mailer"},
					{"label":"Email Type","attribute":"emailtype"}
					]'
					data-sender="{{ entry.fromEmail }}"
					data-mailer="{{ craft.sproutEmail.getMailerBySentEmailId(entry.id) | capitalize }}"
					data-emailtype="{{ entry.type }}">
				<td>
					{{ entry.dateCreated|date('M j, Y g:ia') }}
				</td>

				<td>
					{{ entry.toEmail }}
				</td>

				<td data-titlecell>
					<a href="{{ url('sproutemail/entries/edit/' ~ entry.id) }}">{{ entry.title }}</a>
				</td>

				<td>
					<a class="prepare" data-action="sproutEmail/sentEmail/getViewContentModal" data-entry-id="{{ entry.id }}" href="{{ url('sproutemail/sentemails/view/' ~ entry.id) }}">{{ "View Content"|t }}</a>
				</td>

				<td>
					<span class="tableRowInfo" data-icon="info" href="#"></span>
				</td>
		</>

{% if loop.last and craft.request.getPost("elementAction") == null %}

	 </tbody>
	</table>

	{% include "sproutemail/_modals/box" %}
{% endif %}

</div><!-- tableview  -->

{% endspaceless -%}

{% includeJsResource 'sproutemail/js/TableRowAdditionalInfoIcon.js' %}

{% set js %}

	$.each($('.tableRowInfo'), function () {
		new Craft.SproutEmail.TableRowAdditionalInfoIcon(this);
	});

{% endset %}

{% includeJs js %}