{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% if emailBlastType is defined %}
	{% set title = "Edit Notification" %}
	{% set emailBlastTypeId = emailBlastType.id %}
{% else %}
	{% set title = "Edit Notification" %}
	{% set emailBlastType = craft.sproutEmail.getEmailBlastTypeById(emailBlastTypeId) %}
	{% set emailBlastTypeId = emailBlastType.id %}	
{% endif %}

{% set crumbs = [
	{ label: "Sprout Email"|t, url: url('sproutemail/notifications') },
] %}

{% set tabs = {
    general: { 
      label: "Notification Info"|t,
      url: url('sproutemail/notifications/edit/' ~ emailBlastTypeId),
      class: 'notificationinfo'
    },
    recipients:    { 
      label: "Recipients"|t,
      url: url('sproutemail/notifications/edit/' ~ emailBlastTypeId ~ '/recipients'),
      class: 'recipients'
    },
    template:    { 
      label: "Email Template"|t,
      url: url('sproutemail/notifications/edit/' ~ emailBlastTypeId ~ '/template'),
      class: 'template'
    },
} %}

{% if craft.request.getSegment('5') %}
    {% set selectedTab = craft.request.getSegment('5') %}
{% endif %}


{% set content %}

{% if craft.request.getSegment('5') == 'template' %}
    {% include "sproutemail/notifications/_tabs/template" %}
{% elseif craft.request.getSegment('5') == 'recipients' %} 
    {% include "sproutemail/notifications/_tabs/recipients" %}
{% else %}
    {% include "sproutemail/notifications/_tabs/info" %}
{% endif %}

{% endset %}

{% includeJsResource "sproutemail/js/sproutemail.js" %}