{% from "_includes/forms" import textField %}

{% if notification.getErrors('subjectLine') %}

{% endif %}

{{ textField({
	label: "Subject Line"|t,
	id: 'subjectLine',
	name: 'subjectLine',
	value: notification.subjectLine,
	errors:  (notification is defined ? notification.getErrors('subjectLine') : null),
	first: true,
	autofocus: true,
	required: true,
	maxlength: 255
}) }}

<div>
	{% for tab in notification.getFieldLayout().getTabs() %}
		<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
			{% include "_includes/fields" with {
				fields:  tab.getFields(),
				element: notification,
				static:  (static is defined ? static : false)
			} only %}
		</div>
	{% endfor %}
</div>
