{% extends "sproutemail/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% if notification.id is null %}
	{% set redirectEnd = 'new'  %}
{% else %}
	{% set redirectEnd = notification.id  %}
{% endif %}

{% set title  = notification.id is defined and notification.name is not empty ? notification.name ~ ' setting'|t :
'Create a new
Notification'|t %}

{% set crumbs = [
{ label: "Notifications", url: url('sproutemail/notifications') }
] %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = url("sproutemail/notifications/setting/" ~ redirectEnd) %}

{% block saveButton %}

	<div class="buttons">
		<div class="btngroup">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">

		</div>

		<div class="secondary-buttons" style="float:left;">
			{% if (notification.id is not null or newNotification is not null) %}
				<a class="btn icon edit submit" href="{{ cpUrl('sproutemail/notifications/edit/' ~ redirectEnd) }}" title="{{
				"Edit
				Notification Email"|t }}" style="float:none;margin:0;">{{ "Edit Notification Email"|t }}</a>
			{% endif %}
		</div>
	</div>

{% endblock %}

{% set content %}


	<input type="hidden" name="action" value="sproutEmail/notificationEmails/saveNotificationSetting">

	{% if notification.id is not null %}
		<input type="hidden" name="sproutEmail[id]" value="{{ notification.id }}">
	{% endif %}

	<input type="hidden" name="redirect" value="sproutemail/notifications/setting/{{ redirectEnd }}">

	{{ forms.textField({
		label: "Notification Name"|t,
		id: 'name',
		name: 'sproutEmail[name]',
		instructions: "Human readable notification name"|t,
		value: (notification is defined ? notification.name : null),
		autofocus: true,
		required: true,
		first: true,
		errors: (notification is defined ? notification.getErrors('name') : null)
	}) }}

	{{ forms.textField({
		label: "Email Template"|t,
		id: 'template',
		name: 'sproutEmail[template]',
		instructions: "The template to use when an Email's URL is requested.  The text version of the Email will use the same template name and append .txt"|t,
		placeholder: 'email/_emailtemplate',
		value: (notification is defined ? notification.template : null),
		errors: (notification is defined ? notification.getErrors('template') : null)
	}) }}

	<hr>

	{% include "_includes/fieldlayoutdesigner" with {fieldLayout: notification.getFieldLayout() } only %}

{% endset %}

{% includeJsResource "sproutemail/js/sproutemail.js" %}
