{% extends "sproutemail/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set body %}

	{% set notifications = craft.sproutemail.getNotifications() %}
	
	{% for campaign in notifications %}
			
		{% if loop.first %}
		<h3>Notifications</h3>
		<table id="campaigns" class="data">
			<thead>
				<th width="25%"></th>
				<th width="35%"></th>
				<td class="thin"></td>
			</thead>
		{% endif %}
		
			<tr data-id="{{ campaign.id }}"  data-name="{{ campaign.name|t }}">
				<td>
					<a href="{{ url('sproutemail/notifications/edit/') }}/{{ campaign.id }}#tab-campaign-info"><strong>{{ campaign.name }}</strong></a>
					&nbsp;&nbsp;<span style="color: #999;text-transform:uppercase;font-size:.8em">{{ campaign.dateUpdated|date('F d, Y') }}</span>
				</td>
				<td> 
					<a href="{{ url('sproutemail/notifications/edit/') }}/{{ campaign.id }}#tab-recipients">
						Define recipients
					</a> | 
					<a href="{{ url('sproutemail/notifications/edit/') }}/{{ campaign.id }}#tab-campaign-settings">
						Settings
					</a>
				</td>
				<td class="thin">
					<a class="delete icon" title="Delete"></a>
				</td>
			</tr>

		{% if loop.last %}
		</table>
		{% endif %}

	{% endfor %}


	{% if notifications|length %}
	 	
		<div class="buttons">
	<a class="btn submit add icon" href="{{ url('sproutemail/notifications/new') }}">New Notification</a>
</div>

	{% else %}
	 	
	 	<div style="width:40%;">

		 	<h2>Create your first Notification</h2>

		 	<p>Notifications allow you to trigger emails when certain conditions are met. Create a notification to stay on top of user generated content, keep an eye on publish workflows, or be in the know when something happens on your website.</p>

		 	<div class="buttons">
				<a class="btn submit icon" href="{{ url('sproutemail/notifications/new') }}">Create a Notification &raquo;</a>
			</div>

		</div>

	{% endif %}
 	


{% if brandMessageFooter is defined %}
	{{ brandMessageFooter }}
{% endif %}

{% endset %}

{% set js %}
	new Craft.AdminTable({
		tableSelector: '#campaigns',
		noObjectsSelector: '#nocampaigns',
		deleteAction: 'SproutEmail/campaigns/delete'
	});
{% endset %}
{% includeJs js %}
