{% import "_includes/forms" as forms %}

<style type="text/css">
textarea {
	overflow: hidden!important;
	margin-top:10px;
}
</style>

<section class="copypaste">

	<h1>Copy &amp; Paste</h1>

	<hr>

	<div style="position:relative;">
		<div style="float:left;"><strong>HTML Content</strong></div>
	
		<div style="float:right"><a href="#" class="btnSelectAll btn small formsubmit" data-subject="#html" title="Select HTML Content">Select HTML</a></div>
	</div>

	<div>
	{{ forms.textarea({
		id: "html",
		name: "html",
		value: html,
		rows: 5,
		class: "code textfield",
		autofocus: true,
	}) }}
	</div>

	<div style="position:relative;margin-top:30px;">
		<div style="float:left;"><strong>Text Content</strong></div>
	
		<div style="float:right"><a href="#" class="btnSelectAll btn small formsubmit" data-subject="#text" title="Select Text Content">Select Text</a></div>
	</div>

	<div>
	{{ forms.textarea({
		id: "text",
		name: "text",
		value: text,
		rows: 5,
		class: "code textfield",
	}) }}
	</div>

	<hr>

	<div class="buttons right">
		<button id="close" class="btn">{{ "Close"|t }}</button>
	</div>
</section>
