{% set subscriber_lists = craft.sproutemail.getSubscriberList('MailChimp') %}


{% if(subscriber_lists|length > 0) %}

	{{ forms.field({
		label: "Subscriber Lists"|t,
		instructions: "Select one subscriber list to send your campaign."|t,
		errors: (campaign is defined ? campaign.getErrors('emailProviderRecipientListId') : null) ,
	}, forms.radioGroup({
		name: 'emailProviderRecipientListId',
		options : subscriber_lists,
		value: campaign is defined and campaign.emailProviderRecipientListId ? campaign.emailProviderRecipientListId|first : null
	})) }}
	
{% else %}
	
	<p>You must first create a subscriber list in your MailChimp account.</p>

{% endif %}

