
	{{ forms.textField({
		label: "Add Recipients"|t,
		id: 'recipients',
		name: 'recipients',
		instructions: "Separate multiple email addresses with a comma"|t,
		value: (campaign is defined ? campaign.recipients : null),
		required: true,
		errors: (campaign is defined ? campaign.getErrors('recipients') : null) 	
	}) }}

	<hr>
	
	{% set subscriberLists = craft.sproutEmail.getSubscriberList() %}

	{% if(subscriberLists|length > 0) %}
	
		<div>
		   {{ forms.checkbox({
		        name: 'useRecipientLists',
		        label: 'Use email lists',
		        value: 1,
		        checked: campaign is defined and campaign.emailProviderRecipientListId ? true : false
		    }) }}
		    
		    {% for key, subscriber_list in subscriber_lists %}

		    {{ forms.field({
		        label: key|t,
		        instructions: "Select one or more email lists to send your campaign."|t,
		        errors: (campaign is defined ? campaign.getErrors('emailProviderRecipientListId') : null) ,
		    }, forms.checkboxGroup({
		        name: 'emailProviderRecipientListId[' ~ key ~ ']',
		        id: 'emailProviderRecipientListId' ~ key ,
		        options : subscriber_list,
		        values: campaign is defined ? campaign.emailProviderRecipientListId[key] : null
		    })) }}
		    
		    {% endfor %}
		    
		</div>

	{% endif %}
	
