
	{{ forms.textField({
		label: "Add Recipients"|t,
		id: 'recipients',
		name: 'recipients',
		instructions: "Separate multiple email addresses with a comma"|t,
		value: (campaign is defined ? campaign.recipients : null),
		required: true,
		errors: (campaign is defined ? campaign.getErrors('recipients') : null) 	
	}) }}

	<hr>
	
	{% set subscriberLists = craft.sproutEmail.getSubscriberList() %}

	{% if(subscriberLists|length > 0) %}
	
		<div>
		   {{ forms.checkbox({
		        name: 'useRecipientLists',
		        label: 'Use email lists',
		        value: 1,
		        checked: campaign is defined and campaign.emailProviderRecipientListId ? true : false
		    }) }}
		    
		    {% for key, subscriber_list in subscriberLists %}

			    {{ forms.field({
			        label: subscriber_list.label|t,
			        instructions: subscriber_list.description|t,
			        errors: (campaign is defined ? campaign.getErrors('emailProviderRecipientListId') : null) ,
			    }, forms.checkboxGroup({
			        name: 'emailProviderRecipientListId[' ~ key ~ ']',
			        id: 'emailProviderRecipientListId' ~ key ,
			        options : subscriber_list.options,
			        values: campaign is defined ? campaign.emailProviderRecipientListId[key] : null
			    })) }}
		    
		    {% endfor %}
		    
		</div>

	{% endif %}
	
