{% import "_includes/forms" as forms %}

<h1>{{ mailer.getTitle() }}</h1>
<h2>{{ "Your content is ready to send." }}</h2>

<table class="data fullwidth">
	<tbody>
		<tr>
			<td><strong>{{ "Subject"|t }}</strong></td>
			<td>{{ campaignEmail.title }}</td>
		</tr>
		<tr>
			<td><strong>{{ "From Name"|t }}</strong></td>
			<td>{{ campaignEmail.fromName }}</td>
		</tr>
		<tr>
			<td><strong>{{ "From Email"|t }}</strong></td>
			<td>{{ campaignEmail.fromEmail }}</td>
		</tr>
		<tr>
			<td><strong>{{ "Reply To"|t }}</strong></td>
			<td>{{ campaignEmail.replyToEmail }}</td>
		</tr>
		<tr>
			<td>
				<strong>{{ "Preview"|t }}</strong>
			</td>
			<td>
				{% if craft.sproutEmail.doesSiteTemplateExist(campaignType.template) %}
					<a href="{{ campaignEmail.getUrl() }}" title="{{ campaignEmail.title }}" target="_blank">{{ "HTML"|t }}</a>
					<a href="{{ campaignEmail.getUrl() ~ '?type=text' }}" title="{{ campaignEmail.title }}" target="_blank">{{ "Text"|t }}</a>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td><strong>{{ "Recipient Lists"|t }}</strong></td>
			<td>
				{% for list in recipientLists %}
					<li>{{ list.name }} ({{ list.stats.member_count }})</li>
				{% endfor %}
			</td>
		</tr>
	</tbody>
</table>

<div class="buttons right">
	<div class="buttons">
		<button id="cancel" class="btn">{{ "Cancel"|t }}</button>
		<button
			data-mailer="mailchimp"
			data-action="sproutEmail/campaignEmails/sendCampaignEmail"
			data-email-id="{{ campaignEmail.id }}"
			data-campaign-type-id="{{ campaignType.id }}"
			class="btn submit icon actions send-campaign">{{ "Send Campaign"|t }}
		</button>
	</div>
</div>
