{% import "_includes/forms" as forms %}

<h1>{{ mailer.getTitle() }}</h1>
<h2>Your content is ready to send.</h2>

<table class="data fullwidth">
	<tbody>
		<tr>
			<td><strong>Subject</strong></td>
			<td>{{ email.title }}</td>
		</tr>
		<tr>
			<td><strong>From Name</strong></td>
			<td>{{ email.fromName }}</td>
		</tr>
		<tr>
			<td><strong>From Email</strong></td>
			<td>{{ email.fromEmail }}</td>
		</tr>
		<tr>
			<td><strong>Reply To</strong></td>
			<td>{{ email.replyToEmail }}</td>
		</tr>
		<tr>
			<td>
				<strong>Preview</strong>
			</td>
			<td>
				{% if craft.sproutEmail.doesSiteTemplateExist(campaignType.template) %}
					<a href="{{ email.getUrl() }}" title="{{ email.title }}" target="_blank">HTML</a>
					<a href="{{ email.getUrl() ~ '?type=text' }}" title="{{ email.title }}" target="_blank">Text</a>
				{% endif %}
			</td>
		</tr>
		<tr>
			<td><strong>Recipient Lists</strong></td>
			<td>
				{% for list in lists %}
					<li>{{ list.name }} ({{ list.stats.member_count }})</li>
				{% endfor %}
			</td>
		</tr>
	</tbody>
</table>

<div class="buttons right">
	<div class="buttons">
		<button id="cancel" class="btn">{{ "Cancel"|t }}</button>
		<button
			data-mailer="mailchimp"
			data-action="sproutEmail/campaignEmails/sendCampaignEmail"
			data-email-id="{{ email.id }}"
			data-campaign-type-id="{{ campaignType.id }}"
			class="btn submit icon actions send-campaign">{{ "Send Campaign"|t }}
		</button>
	</div>
</div>
