{% extends "sproutemail/_layouts/base" %}
{% import "_includes/forms" as forms %}
{% set title = "Edit Campaign"|t %}

{% set crumbs = [
	{ label: "Settings"|t, url: url('sproutemail/settings') },
	{ label: "Campaign Types", url: url('sproutemail/settings/campaigntypes') },
] %}

{% if craft.request.getSegment(6) %}
	{% set selectedTab = craft.request.getSegment(6) %}
{% endif %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = (campaignTypeId != 'new') ? 'sproutemail/settings/campaigntypes/edit/' ~ campaignTypeId : 'sproutemail/settings/campaigntypes/edit/{id}' %}

{% block saveButton %}
	<div class="btngroup submit first">
		<input type="submit" class="btn submit" value="{{ 'Save Campaign'|t }}">
		{% if campaignType.id != null %}
			<div class="btn submit menubtn"></div>
			<div class="menu">
				<ul>
					<li><a class="formsubmit" data-param='saveAsNew' data-value="true">{{ "Save as a new campaign"|t }}</a></li>
				</ul>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% set content %}

	<input type="hidden" name="action" value="sproutEmail/campaignType/saveCampaignType">
	<input type="hidden" name="redirect" value="sproutemail/settings/campaigntypes">
	<input type="hidden" name="campaignTypeId" value="{{ campaignTypeId }}">

	{% set mailers = craft.sproutEmail.getCampaignMailers('defaultmailer') %}

	{% if mailers %}

		{{ forms.textField({
			label: "Campaign Name"|t,
			id: 'name',
			name: 'sproutEmail[name]',
			instructions: "Human readable name for this type of Email"|t,
			value: (campaignType is defined ? campaignType.name : null),
			autofocus: true,
			required: true,
			first: true,
			errors: (campaignType is defined ? campaignType.getErrors('name') : null)
		}) }}

		{{ forms.textField({
			label: "Campaign Handle"|t,
			id: 'handle',
			name: 'sproutEmail[handle]',
			instructions: "How you'll refer to this section in the templates."|t,
			value: (campaignType is defined ? campaignType.handle : null),
			required: true,
			errors: (campaignType is defined ? campaignType.getErrors('handle') : null)
		}) }}

		{{ forms.selectField({
			label: "How would you like to send this email"|t,
			instructions: 'Select the Mailer you will use to send Email Campaigns. <a href="' ~ url('sproutemail/settings/mailers') ~ '">Edit Mailer settings</a>.'|t,
			id: 'mailer',
			name: 'sproutEmail[mailer]',
			required: true,
			options : mailers,
			value: (campaignType is defined ? campaignType.mailer : null),
			errors: (campaignType is defined ? campaignType.getErrors('mailer') : null)
		}) }}

		{{ forms.textField({
			label: "Email Template"|t,
			id: 'template',
			name: 'sproutEmail[template]',
			instructions: "The template to use when an Email's URL is requested.  The text version of the Email will use the same template name and append .txt"|t,
			placeholder: '_emails/emailtemplate',
			value: (campaignType is defined ? campaignType.template : null),
			errors: (campaignType is defined ? campaignType.getErrors('template') : null)
		}) }}

		{{ forms.textField({
			label: "Email Copy/Paste Template"|t,
			id: 'templateCopyPaste',
			name: 'sproutEmail[templateCopyPaste]',
			instructions: "The template to use if you want to copy only part of your template.  The text version of the Copy/Paste content will use the same template name and append .txt"|t,
			placeholder: 'email/copypaste-template',
			value: (campaignType is defined ? campaignType.templateCopyPaste : null),
			errors: (campaignType is defined ? campaignType.getErrors('templateCopyPaste') : null)
		}) }}

		<hr>

		{{ forms.checkboxField({
			label: "Entries of this type have their own URLs"|t,
			id: 'hasUrls',
			name: 'sproutEmail[hasUrls]',
			checked: (campaignType is defined ? campaignType.hasUrls : 0),
			toggle: 'url-settings'
		}) }}

		<div id="url-settings" class="nested-fields{% if not campaignType.hasUrls %} hidden{% endif %}">

			{{ forms.textField({
				label: "Email URL Format"|t,
				instructions: 'What the online version of the Email URLs should look like. You can include tags that output email properties, such as {slug} or {postDate|date("Y")}.'|t,
				placeholder: 'email/{slug}',
				name: 'sproutEmail[urlFormat]',
				value: (campaignType is defined ? campaignType.urlFormat : null),
				errors: (campaignType is defined ? campaignType.getErrors('urlFormat') : null)
			}) }}

		</div>

		<hr>

		{{ forms.checkboxField({
			label: "Add a custom format to the Title field?"|t,
			id: 'hasAdvancedTitles',
			name: 'sproutEmail[hasAdvancedTitles]',
			checked: (campaignType is defined ? campaignType.hasAdvancedTitles : 0),
			toggle: 'advancedtitle-settings'
		}) }}

		<div id="advancedtitle-settings" class="nested-fields{% if not campaignType.hasAdvancedTitles %} hidden{% endif %}">

			{{ forms.textField({
				label: "Title Format"|t,
				instructions: "What the auto-generated Email titles should look like. You can include tags that output email properties, such as {ex}."|t({ ex: '<code>{myCustomField}</code>' }),
				id: 'titleFormat',
				name: 'sproutEmail[titleFormat]',
				value: (campaignType is defined ? campaignType.titleFormat : null),
				errors: (campaignType is defined ? campaignType.getErrors('titleFormat') : null),
			}) }}

		</div>

		<hr>

		{% include "_includes/fieldlayoutdesigner" with {fieldLayout: campaignType.getFieldLayout()} only %}

	{% else %}

		<h2>{{ "Setup your first Campaign Type."|t }}</h2>

		<p>Install and setup a Mailer Service to create your first Campaign Type. Mailers are available as
		separate plugins and can be downloaded from the links listed in the <a href="{{ url('sproutemail/settings/mailers') }}">Mailer Setttings</a>.</p>

	{% endif %}

{% endset %}

{% includeJsResource "sproutemail/js/sproutemail.js" %}

{% set js %}

	(function() {

		function toggleCopyPasteField(selectedOption)
		{
			if (selectedOption == 'copypaste')
			{
				$('#templateCopyPaste-field').show();
			}
			else
			{
				$('#templateCopyPaste-field input').val('');
				$('#templateCopyPaste-field').hide();
			}
		}

		// Setup listener for copy/paste field
		$('#mailer').change(function() {
			toggleCopyPasteField($('#mailer').val());
		});

		// Show/hide copy/paste field on page load
		toggleCopyPasteField($('#mailer').val());

		{% if campaignType is not defined or not campaignType.handle %}
			new Craft.HandleGenerator('#name', '#handle');
		{% endif %}

	})();

{% endset %}

{% includeJs js %}
