{% extends "sprout-base/_layouts/base-landing" %}
{% import "sprout-base/_includes/sproutcp" as sproutCp %}

{% set title = "Upgrade to Sprout Email Pro"|t('sprout-sent-email') %}
{% set bodyClass = 'sprout-landing-page' %}
{% set assetUrl = view.getAssetManager().getPublishedUrl('@sproutbase/app/email/web/assets/email/dist', true) -%}
{% set pluginStoreLink = currentUser.admin ? cpUrl('plugin-store/sprout-email') : 'https://plugins.craftcms.com/sprout-email' %}

{% block content %}

    <div class="sprout-landing">

        {{ parent() }}

        {{ sproutCp.featureHeader({
            heading: "Intimate, personal communication."|t('sprout-email'),
            message: "Upgrade to Sprout Email [pro] to send personalized notification emails to your users when events are triggered in Craft. Stay in the loop when content changes, forms are submitted, or users take action such activating an account or making a purchases."|t('sprout-email'),
            primaryButtonText: "Upgrade Now"|t('sprout-email'),
            primaryButtonLink: pluginStoreLink,
            secondaryButtonText: "Learn More"|t('sprout-email'),
            secondaryButtonLink: "https://sprout.barrelstrengthdesign.com/docs/email"
        }) }}

        {{ sproutCp.featureImage({
            imageUrl: assetUrl ~ '/images/sprout-email-feature.png',
            altText: 'Sprout Email for Craft CMS'|t('sprout-email')
        }) }}

    </div>

{% endblock %}