{% extends "sprout-base/_layouts/baselanding" %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}

{% set title = "Welcome to Sprout Email"|t('sprout-email') %}
{% set bodyClass = 'sprout-landing-page' %}
{% set assetUrl = view.getAssetManager().getPublishedUrl('@sproutbaseemail/web/assets/email/dist', true) -%}
{% set pluginStoreLink = currentUser.admin ? cpUrl('plugin-store/sprout-email') : 'https://plugins.craftcms.com/sprout-email' %}
{% block content %}

    <div class="sprout-landing">

        {{ parent() }}

        {{ sprout.featureHeader({
            heading: "Intimate, personal communication."|t('sprout-email'),
            message: "Send personalized notification emails to your users when events are triggered in Craft. Stay in the loop when content changes, forms are submitted, or users take action such activating an account or making a purchases."|t('sprout-email'),
            primaryButtonText: "Get Started"|t('sprout-email'),
            primaryButtonLink: cpUrl('sprout-email/notifications'),
            secondaryButtonText: "Read the Docs"|t('sprout-email'),
            secondaryButtonLink: "https://sprout.barrelstrengthdesign.com/docs/email"
        }) }}

        {{ sprout.featureImage({
            imageUrl: assetUrl ~ '/images/sprout-email-feature.png',
            altText: 'Sprout Email for Craft CMS'|t('sprout-email')
        }) }}

    </div>

{% endblock %}