{% extends "sproutemail/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = "Edit Notification"|t %}

{% set crumbs = [
	{ label: "Notifications", url: url('sproutemail/notifications') },
] %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = url('sproutemail/settings/notifications/edit/{id}') %}

{% if notificationEmail['id'] %}
	{% set notificationEmailId = notificationEmail['id'] %}
{% else %}
	{% set notificationEmailId = '{id}' %}
{% endif %}

{% block saveButton %}

	<div class="buttons">
		<div class="btngroup">
			<input class="btn submit" type="submit" value="{{ 'Save'|t }}">

			{% if notificationEmail['id'] is defined %}

				<div class="btn submit menubtn"></div>
				<div class="menu">
					<ul>

						{% set dataSaveEditRedirect = cpUrl('sproutemail/notifications/edit/' ~ notificationEmailId) %}

						<li><a class="formsubmit" data-redirect="{{ dataSaveEditRedirect }}" title="{{ "Save and edit notification email"|t }}">{{ "Save and edit notification email"|t }}</a></li>
						<li><a class="formsubmit" data-redirect="{{ cpUrl('sproutemail/settings/notifications/edit/new') }}">{{ "Save and add another"|t }}</a></li>
					</ul>
				</div>

			{% endif %}

		</div>

		<div class="secondary-buttons" style="float:left;">
		{% if notificationEmail is defined and notificationEmail['id'] %}
			<a class="btn icon add submit" href="{{ cpUrl('sproutemail/notifications/edit/' ~ notificationEmailId) }}" title="{{ "Edit Notification Email"|t }}" style="float:none;margin:0;">{{ "Edit Notification Email"|t }}</a>
		{% endif %}
		</div>
	</div>

{% endblock %}

{% set content %}

		<input type="hidden" name="action" value="sproutEmail/notificationEmails/saveNotificationEmailSettings">
		<input type="hidden" name="redirect" value="sproutemail/settings/notifications/edit/{id}">

		<input type="hidden" name="emailId" value="{{ emailId }}">
		<input type="hidden" name="mailer" value="defaultmailer">

		{{ forms.textField({
			label: "Subject Line"|t,
			id: 'subjectLine',
			name: 'sproutEmail[subjectLine]',
			instructions: "The subject line of your email (will be seen by the public)"|t,
			value: notificationEmail.subjectLine,
			errors:  (notificationEmail is defined ? notificationEmail.getErrors('subjectLine') : null),
			first: true,
			autofocus: true,
			required: true,
			maxlength: 255
		}) }}

		{{ forms.textField({
			label: "Notification Name"|t,
			id: 'name',
			name: 'sproutEmail[name]',
			instructions: "Human readable notification name (only visible in Control Panel)"|t,
			value: (notificationEmail is defined ? notificationEmail.name : null),
			autofocus: true,
			required: true,
			first: true,
			errors: (notificationEmail is defined ? notificationEmail.getErrors('name') : null)
		}) }}

		{{ forms.textField({
			label: "Email Template"|t,
			id: 'template',
			name: 'sproutEmail[template]',
			instructions: "The template to use when an Email's URL is requested.  The text version of the Email will use the same template name and append .txt"|t,
			placeholder: 'email/_emailtemplate',
			value: (notificationEmail is defined ? notificationEmail.template : null),
			errors: (notificationEmail is defined ? notificationEmail.getErrors('template') : null)
		}) }}

		<hr>

		{% include "_includes/fieldlayoutdesigner" with {
			fieldLayout: notificationEmail.getFieldLayout()
		} only %}
	</form>

{% endset %}

{% includeJsResource "sproutemail/js/sproutemail.js" %}
