{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Edit Notification" %}
{% set campaign = craft.sproutEmail.getCampaignById(campaignId) %}

{% set crumbs = [
	{ label: "Sprout Email"|t, url: url('sproutemail') },
	{ label: "Settings"|t, url: url('sproutemail/settings') },
] %}

{% set content %}

	{% if isMailerInstalled %}
		<form method="post" action="" accept-charset="UTF-8" data-saveshortcut data-saveshortcut-redirect="{{ url('sproutemail/settings/notifications/edit/{id}') }}">
		<input type="hidden" name="action" value="sproutEmail/campaign/saveCampaign">
		<input type="hidden" name="redirect" value="sproutemail/settings/notifications/edit/{id}">
		<input type="hidden" name="tab" value="fields">
		<input type="hidden" name="sproutEmail[id]" value="{{ campaignId }}">
		<input type="hidden" name="sproutEmail[mailer]" value="defaultmailer">
		<input type="hidden" name="sproutEmail[type]" value="notification">

		{{ getCsrfInput() }}

		<div id="tab-campaign-info" class="tab-content" >

			{{ forms.textField({
				label: "Notification Name"|t,
				id: 'name',
				name: 'sproutEmail[name]',
				instructions: "Human readable notification name"|t,
				value: (campaign is defined ? campaign.name : null),
				autofocus: true,
				required: true,
				errors: (campaign is defined ? campaign.getErrors('name') : null)
			}) }}

			{{ forms.textField({
				label: "Entry Template"|t,
				id: 'template',
				name: 'sproutEmail[template]',
				instructions: "The template to use when an Entry's URL is requested.  The text version of the Email will use the same template name and append .txt"|t,
				placeholder: 'email/_emailtemplate',
				value: (campaign is defined ? campaign.template : null),
				errors: (campaign is defined ? campaign.getErrors('template') : null)
			}) }}
		</div>

		<div class="associated-notification-entry">
			{% if campaign.type is defined and campaign.type == "notification"%}
				{% set entry = craft.sproutemail.getNotificationEntryByCampaignId(campaign.id) %}

				{# @todo Move inline styles into resource file #}
				<div style="margin: 20px 0; padding: 20px 0; border-bottom: 1px dotted #ddd;">
					{% if entry.id is defined %}
						<h3>
							<a class="btn" href="{{ cpUrl('sproutemail/entries/edit/' ~ entry.id) }}" title="{{ entry.title }}">Edit Notification Entry</a>
						</h3>
					{% else %}
						<h3>
							<a class="btn icon add" href="{{ cpUrl('sproutemail/entries/' ~ campaignId) }}/new" title="Add Notification Entry">Add Notification Entry</a>
						</h3>
					{% endif %}
				</div>
			{% endif %}
		</div>

		{% include "_includes/fieldlayoutdesigner" with {fieldLayout: campaign.getFieldLayout() } only %}

		<div class="buttons">
			<input class="btn" type="submit" value="Save Notification Info">
			<input class="btn submit save-and-continue" id="info" type="button" value="Save &amp; Continue">
		</div>
	</form>
	{% else %}
		<h2>Sprout Mailer Required</h2>
		<p>Before you can create notifications, please install our mailer.</p>

		<hr>
		<p><a class="btn" href="{{ url('settings/plugins') }}" >Plugin Installation</a></p>

	{% endif %}
{% endset %}

{% includeJsResource "sproutemail/js/sproutemail.js" %}
