{% from "_includes/forms" import textField %}

{% if campaignEmail.getErrors('subjectLine') %}
	{% set subjectLineError = ['Subject Line cannot be blank.'|t] %}
{% endif %}

{% if not campaignType.hasAdvancedTitles %}

	{{ textField({
		label: "Subject Line"|t,
		id: 'subjectLine',
		name: 'subjectLine',
		value: campaignEmail.subjectLine,
		errors: (subjectLineError is defined ? subjectLineError : null),
		first: true,
		autofocus: true,
		required: true,
		maxlength: 255
	}) }}

{% endif %}

{% if campaignType.getFieldLayout().getTabs()|length %}

	<div>
		{% for tab in campaignType.getFieldLayout().getTabs() %}
			<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
				{% include "_includes/fields" with {
					fields:  tab.getFields(),
					element: campaignEmail,
					static:  (static is defined ? static : false)
				} only %}
			</div>
		{% endfor %}
	</div>

{% else %}

	{# Make sure we display something if all content is handled in the template and all fields are disabled. #}
	{% if not campaignType.hasAdvancedTitles %}

		<p class="light">{{ 'Add a custom field to your <a href="{editCampaignUrl}">Campaign Type</a> to manage your email content in Craft.'|t({ editCampaignUrl: cpUrl('sproutemail/settings/campaigntypes/edit') ~ '/' ~ campaignType.id })|raw }}</p>

	{% endif %}

{% endif %}

