{% set status = email.getStatus() %}

{% if email.getUrl() %}

	{% if status != 'ready' %}
		{% set emailUrl = craft.sproutEmail.getCampaignEmailShareUrl(email.id, campaignType.id) %}
		{% set separator = '&' %}
	{% else %}
		{% set emailUrl = email.url %}
		{% set separator = '?' %}
	{% endif %}

	{% if type == 'html' %}
	<a href="{{ emailUrl }}" title="{{ email.title }}" onclick="window.open('{{ emailUrl }}', 'newwindow',
		'width=920, height=600'); return false;">{{ "Preview"|t }}</a>
	{% endif %}

	{% if type == 'text' %}

		{% set emailUrl = emailUrl ~ separator ~ 'type=text' %}

		<a href="{{ emailUrl }}" title="{{ email.subjectLine }}" onclick="window.open('{{ emailUrl }}', 'newwindow',
		'width=920, height=600'); return false;">{{ "Preview"|t }}</a>

	{% endif %}

{% else %}

	<span class="light">&mdash;</span>

{% endif %}