{% set status = email.getStatus() %}

{% if email.getUrl() %}

	{% if status != 'ready' %}
		{% set emailUrl = craft.sproutEmail.getCampaignEmailShareUrl(email.id, campaignType.id) %}
		{% set separator = '&' %}
	{% else %}
		{% set emailUrl = email.url %}
		{% set separator = '?' %}
	{% endif %}

	{% if type == 'html' %}
	<a href="{{ emailUrl }}" title="{{ email.title }}" target="_blank">{{ "Preview"|t }}</a>
	{% endif %}

	{% if type == 'text' %}
	<a href="{{ emailUrl ~ separator }}type=text" title="{{ email.subjectLine }}" target="_blank">{{ "Preview"|t }}</a>
	{% endif %}

{% else %}

	<span class="light">&mdash;</span>

{% endif %}