{% extends "sproutemail/_layouts/settings" %}
{% import "_includes/forms" as forms %}
{% import 'sproutemail/_includes/sproutcp' as sprout %}

{% includeCssResource "sproutemail/css/sproutcp.css" %}

{% set title = "Examples"|t %}

{% set content %}

	{% set warnings = {} %}

	{% if craft.sproutEmail.hasExamples() %}
		{% set warnings = warnings|merge({
			examplesInstalled: "Example templates are already installed. Select Install Examples again to install fresh example templates."|t
		}) %}
	{% endif %}

	{% if not craft.sproutEmail.canCreateExamples() %}
		{% set path = craft.sproutEmail.getTemplatePath() %}
		{% set warnings = warnings|merge({
			permissions: "Your templates directory does not have the correct permissions: {filepath}"|t({
				filepath: path
			}),
		}) %}
	{% endif %}

	{% set boxBody %}

		{{ getCsrfInput() }}
		<input type="hidden" name="action" value="sproutEmail/examples/install">

    <p>{{ "Get started with example notification and campaign emails and commented templates. Examples include a new user welcome email, an admin notification email, and a monthly newsletter. Example templates will be created in the <code>craft/templates/sproutemail</code> folder."|t|raw }}</p>

		{% if warnings|length %}
			<ul class="bullets warning">
				{% for warning in warnings %}
				<li>{{ warning }}</li>
				{% endfor %}
			</ul>
		{% endif %}

		<div class="buttons">
			<input class="btn submit" type="submit" value="{{ 'Install Examples'|t }}" />
		</div>

	{% endset %}

	{{ sprout.mediaBox({
		heading: "Example emails and templates"|t,
		body: boxBody,
		resourceUrl: resourceUrl('sproutemail/icon.svg'),
		resourceAltText: "Sprout Icon"|t,
		alignItems: 'flex-start'
	}) }}

{% endset %}
