<div class="body">

	{% if success is defined and success %}

		<h1>{{ 'Success'|t }}</h1>

		<table class="data fullwidth">
			<tbody>
			<tr>
				<td><strong>{{ 'Subject'|t }}</strong></td>
				<td class="title">{{ notificationEmail.title }}</td>
			</tr>
			<tr>
				<td><strong>{{ 'Message'|t }}</strong></td>
				<td><em>{{ message is defined ? message : 'Your campaign was sent successfully.'|t }}</em></td>
			</tr>
			</tbody>
		</table>

	{% else %}

		<h1>{{ 'Error'|t }}</h1>

		<table class="data fullwidth">
			<tbody>
			<tr>
				<td><strong>{{ 'Subject'|t }}</strong></td>
				<td class="title">{{ email.title }}</td>
			</tr>
			<tr>
				<td><strong>{{ 'Message'|t }}</strong></td>
				<td><em>{{ message is defined ? message : 'An error occurred while sending your campaign. Please review the Craft logs
		 for more info.'|t }}</em></td>
			</tr>
			</tbody>
		</table>

	{% endif %}

</div>

<div class="footer">
	<div class="buttons right">
		<button id="close" class="btn">{{ 'Done'|t }}</button>
	</div>
</div>
