
<form method="post" action="" accept-charset="UTF-8">
	<input type="hidden" name="action" value="SproutEmail/campaigns/save">
	<input type="hidden" name="redirect" value="SproutEmail/campaigns">
	<input type="hidden" name="id" value="{{ campaignId }}">
	<input type="hidden" name="tab" value="info">
	<input type="hidden" name="continue" value="false">
	<input type="hidden" name="templateOption" value="3">

    <div id="tab-campaign-info" class="tab-content" >

    {% set emailProviders = craft.sproutemail.getEmailProviders(true) %}
    
    {% if emailProviders %}
	
    	{{ forms.textField({
    		label: "Campaign Name"|t,
    		id: 'name',
    		name: 'name',
    		instructions: "Human readable campaign name"|t,
    		value: (campaign is defined ? campaign.name : null),
    		autofocus: true,
    		required: true,
    		errors: (campaign is defined ? campaign.getErrors('name') : null) 	
    	}) }}
    
    	{{ forms.textField({
    		label: "Email Subject"|t,
    		id: 'subject',
    		name: 'subject',
    		instructions: "The subject line of your email"|t,
    		value: (campaign is defined ? campaign.subject : null),
    		required: true,
    		errors: (campaign is defined ? campaign.getErrors('subject') : null) 	
    	}) }}
    
    	{{ forms.textField({
    		label: "From Name"|t,
    		id: 'fromName',
    		name: 'fromName',
    		instructions: "The person or business sending the email"|t,
    		value: (campaign is defined ? campaign.fromName : null),
    		required: true,
    		errors: (campaign is defined ? campaign.getErrors('fromName') : null) 	
    	}) }}
    
    	{{ forms.textField({
    		label: "From Email"|t,
    		id: 'fromEmail',
    		name: 'fromEmail',
    		instructions: "The email address of the person or business sending the email"|t,
    		value: (campaign is defined ? campaign.fromEmail : null),
    		required: true,
    		errors: (campaign is defined ? campaign.getErrors('fromEmail') : null) 	
    	}) }}
    
    	{{ forms.textField({
    		label: "Reply To Email"|t,
    		id: 'replyToEmail',
    		name: 'replyToEmail',
    		instructions: "The email address which will be used if any recipients reply to your email"|t,
    		value: (campaign is defined ? campaign.replyToEmail : null),
    		required: true,
    		errors: (campaign is defined ? campaign.getErrors('replyToEmail') : null) 	
    	}) }}
    	
    	{{ forms.selectField({
    		label: "How would you like to send this email"|t,
    		id: 'emailProvider',
    		name: 'emailProvider',
    		instructions: "Select the platform you will use to send your campaign."|t,
    		options : emailProviders,
    		value: (campaign is defined ? campaign.emailProvider : null),
    		errors: (campaign is defined ? campaign.getErrors('emailProvider') : null) 	
    	}) }}
	
        </div>
        
        <div class="buttons">
        	<input class="btn submit" type="submit" value="Save Campaign Info">
        	<input class="btn submit save-and-continue" id="info" type="button" value="Save Campaign Info & Continue">
        </div>
    
    {% else %}
	
    	<p>In order to set up a campaign, you must first provide valid MailChimp and/or CampaignMonitor API settings.
    	<a href="{{ url('sproutemail/settings') }}" >Set API Settings Now</a></p>
	
	{% endif %}
</form>