

<form method="post" action="" accept-charset="UTF-8">
	<input type="hidden" name="action" value="sproutEmail/campaigns/save">
	<input type="hidden" name="redirect" value="sproutemail/campaigns">
	<input type="hidden" name="id" value="{{ campaignId }}">
    <input type="hidden" name="tab" value="recipients">

<div id="tab-recipients" class="tab-content">
    <div id="{{ campaign.emailProvider }}_recipients_template"  >
			{% include "sproutemail/_email_providers/_" ~ campaign.emailProvider %}
	</div>
</div>



<div class="buttons hidden" id="recipient-btns" >
	<input class="btn" type="submit" value="Save Campaign Recipients">
	<input class="btn submit" type="submit" value="Save Campaign Recipients & Finish">
</div>

</form>