<form method="post" action="" accept-charset="UTF-8">
	<input type="hidden" name="action" value="sproutEmail/campaigns/save">
	<input type="hidden" name="redirect" value="sproutemail/campaigns">
	<input type="hidden" name="id" value="{{ campaignId }}">
    <input type="hidden" name="tab" value="template">
    <input type="hidden" name="continue" value="false">
    <input type="hidden" name="templateOption" value="3" />

    <div id="tab-email-template" class="tab-content">
    
    	<div id="tpl_section" class="tpl_options">
    	{{ forms.selectField({
    		label: "Email Content Section"|t,
    		id: 'sectionId',
    		name: 'sectionId',
    		instructions: "Select the Section that you will be using to create content for this email campaign."|t,
    		options : craft.sproutemail.getAllSections,
    		value: (campaign is defined ? campaign.sectionId : null),
    		errors: (campaign is defined ? campaign.getErrors('sectionId') : null) 	
    	}) }}
    	
    	{% set templatesDirListing = craft.sproutemail.getTemplatesDirListing() %}
    	
    	{{ forms.selectField({
    		label: "HTML Template"|t,
    		id: 'htmlTemplate',
    		name: 'htmlTemplate',
    		instructions: "Select the file that will be the template for your HTML Emails in this Section/"|t,
    		options: templatesDirListing,
    		value: (campaign is defined ? campaign.htmlTemplate : null),
    		errors: (campaign is defined ? campaign.getErrors('htmlTemplate') : null) 	
    	}) }}
    
    	{{ forms.selectField({
    		label: "Text Template"|t,
    		id: 'textTemplate',
    		name: 'textTemplate',
    		options: templatesDirListing,
    		instructions: "Select the file that will be the template for your Plain Text Emails in this Section."|t,
    		value: (campaign is defined ? campaign.textTemplate : null),
    		errors: (campaign is defined ? campaign.getErrors('textTemplate') : null) 	
    	}) }}
    	</div>
    
    </div>
    
    <div class="buttons">
    	<input class="btn" type="submit" value="Save Campaign Template">
    	<input class="btn submit save-and-continue" id="template" type="submit" value="Save Campaign Template & Continue">
    </div>
</form>