{% import "_includes/forms" as forms %}

<div class="body">

	<h1>{{ "Copy & Paste"|t }}</h1>

	{% set sendDate = craft.sproutEmail.getDisplaySendDate(email) %}

	{% if sendDate is not empty %}
		<div style="float:left; margin-bottom: 20px;">
			<strong>{{ "Send Date"|t }}:</strong> {{ sendDate|date("F jS Y \\a\\t g:ia") }}
		</div>
		<div style="clear: both"></div>
	{% endif %}

	<div style="position:relative;">
		<div style="float:left;"><strong>{{ "HTML Content"|t }}</strong></div>

		<div style="float:right"><a href="#" class="btnSelectAll btn small formsubmit" data-subject="#html" title="{{ 'Select HTML Content'|t }}">{{ "Select HTML"|t }}</a></div>
	</div>

	<div>
	{{ forms.textarea({
		id: "html",
		name: "html",
		value: html,
		rows: 5,
		class: "code textfield",
		autofocus: true,
	}) }}
	</div>

	<div style="position:relative;margin-top:30px;">
		<div style="float:left;"><strong>{{ "Text Content"|t }}</strong></div>
	
		<div style="float:right"><a href="#" class="btnSelectAll btn small formsubmit" data-subject="#text" title="{{ 'Select Text Content'|t }}">{{ "Select Text"|t }}</a></div>
	</div>

	<div>
	{{ forms.textarea({
		id: "text",
		name: "text",
		value: text,
		rows: 5,
		class: "code textfield",
	}) }}
	</div>

</div>

<div class="footer">

	<div class="buttons left">
		<button id="close" class="btn">{{ "Cancel"|t }}</button>
	</div>
	<div class="buttons right actions">
		<button
			data-action="sproutEmail/copyPaste/markSent"
			data-email-id="{{ email.id }}"
			class="btn submit">
			{{ "Mark as Sent"|t }}
		</button>
	</div>

</div>

{% includecss %}
	textarea {
		overflow: hidden!important;
		margin-top:10px;
	}
{% endincludecss %}