
<h1>Sprout Email</h1>
<hr>

<h2>{{ entry.title }}</h2>

{% if recipientLists is defined and recipientLists|length %}
	<h4>Recipient Lists for this Campaign</h4>

	<ul>
		{% for list in recipientLists %}
			<li>
				<strong>{{ list.name }}</strong> with <strong>({{ list.recipients|length }})</strong> {{ list.recipients|length == 1 ? "recipient" : "recipients" }}
			</li>
		{% endfor %}
	</ul>
{% endif %}

{% if entry.recipients is defined and entry.recipients|length %}
	<h4>Recipients for this Campaign</h4>

	<ul>
		{% for recipient in entry.recipients %}
			<li>{{ recipient }}</li>
		{% endfor %}
	</ul>

{% endif %}

<hr>

<div class="buttons right">
	<button id="close" class="btn">{{ "Cancel"|t }}</button>
	<button
		data-mailer="defaultmailer"
		data-action="sproutEmail/entry/export"
		data-entry-id="{{ entry.id }}"
		data-campaign-id="{{ campaign.id }}"
		class="btn submit actions">{{ "Test Notification"|t }}</button>
</div>
