{% set subscriber_lists = craft.sproutEmail.getSubscriberList('MailChimp') %}


{% if(subscriber_lists|length > 0) %}

	{{ forms.field({
		label: "Subscriber Lists"|t,
		instructions: "Select one subscriber list to send your emailBlastType."|t,
		errors: (emailBlastType is defined ? emailBlastType.getErrors('emailProviderRecipientListId') : null) ,
	}, forms.radioGroup({
		name: 'sproutEmail[emailProviderRecipientListId]',
		options : subscriber_lists,
		value: emailBlastType is defined and emailBlastType.emailProviderRecipientListId ? emailBlastType.emailProviderRecipientListId|first : null
	})) }}
	
{% else %}
	
	<p class="recipients-not-defined" >You must first create a subscriber list in your MailChimp account.</p>	
	
{% endif %}

