{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}


{% if campaign is defined %}
	{% set title = "Edit Campaign" %}
	{% set campaignId = campaign.id %}
{% else %}
	{% set title = "Edit Campaign" %}
	{% set campaign = craft.sproutemail.getCampaignById(campaignId) %}
	{% set campaignId = campaign.id %}	
{% endif %}

{% set crumbs = [
	{ label: "Sprout Email"|t, url: url('sproutemail/campaigns') },
] %}

{% set tabs = {
    general: { 
      label: "Campaign Info"|t,
      url: url('sproutemail/campaigns/edit/' ~ campaignId),
      class: 'campaigninfo'
    },
    template:    { 
      label: "Email Template"|t,
      url: url('sproutemail/campaigns/edit/' ~ campaignId ~ '/template'),
      class: 'template'
    },
    recipients:    { 
      label: "Recipients"|t,
      url: url('sproutemail/campaigns/edit/' ~ campaignId ~ '/recipients'),
      class: 'recipients'
    },
} %}

{% if craft.request.getSegment('5') %}
    {% set selectedTab = craft.request.getSegment('5') %}
{% endif %}


{% set content %}

{% if craft.request.getSegment('5') == 'template' %}
    {% include "sproutemail/campaigns/tabs/_template" %}
{% elseif craft.request.getSegment('5') == 'recipients' %} 
    {% include "sproutemail/campaigns/tabs/_recipients" %}
{% else %}
    {% include "sproutemail/campaigns/tabs/_info" %}
{% endif %}

{% endset %}

{% includeJsResource "sproutemail/js/sproutemail.js" %}