{% extends "sproutemail/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set crumbs = [
	{ label: "Email"|t, url: url('sproutemail/campaigns') },
] %}

{% set title  = campaignEmail is defined and campaignEmail.title is not empty ? campaignEmail.title : 'Create a new Campaign Email'|t %}
{% set mailer = craft.sproutEmail.getMailer(campaignType.mailer) %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = url('sproutemail/campaigns/edit/{id}') %}

{% block saveButton %}

	<section class="buttons">
		<div class="btngroup submit">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

				<div class="btn submit menubtn"></div>
				<div class="menu">
					<ul>

						{% if emailId %}
							<li><a class="formsubmit" data-redirect="sproutemail/campaigns/edit/{id}">{{ "Save and continue editing"|t
									}} <span class="shortcut">⌘S</span></a></li>
						{% else %}
							<li><a class="formsubmit" data-redirect="sproutemail/campaigns/edit/{id}">{{ "Save and continue editing"|t }} <span class="shortcut">⌘S</span></a></li>
						{% endif %}

							<li><a class="formsubmit" data-redirect="sproutemail/campaigns/{{ campaignType.id }}/new">{{ "Save and add another"|t }}</a></li>

						{% if emailId %}
							<li><a class="formsubmit" data-param='saveAsNew' data-value="true" data-redirect="sproutemail/campaigns/edit/{id}">{{ "Save as a new email"|t }}</a></li>
						{% endif %}

					</ul>
				</div>
		</div>
	</section>

{% endblock %}

{% block main %}

{% if mailerPlugin == null %}

	<div class="grid first" data-max-cols="1">
		<div class="item">
			<div class="pane meta">
				<div class="field">
					<h2>Mailer {{ mailerPlugin }} {{ "plugin is not installed."|t }}</h2>
				</div>
			</div>
		</div>
	</div>

{% else %}

	<input type="hidden" name="action" value="sproutEmail/campaignEmails/saveCampaignEmail">
	<input type="hidden" name="redirect" value="sproutemail/campaigns">

	{% if emailId %}
		<input type="hidden" name="emailId" value="{{ emailId }}">
	{% endif %}
	<input type="hidden" name="campaignTypeId" value="{{ campaignTypeId }}">

	{% if namespace is not defined %}{% set namespace = 'fields' %}{% endif %}

	<div class="grid first" data-max-cols="3">

		<div class="item" data-position="left" data-min-colspan="2" data-max-colspan="3">
			<div id="fields" class="pane">
				{% include "_includes/tabs" %}
				{% include "sproutemail/_partials/campaigns/fields" %}
			</div>
		</div>

		<div class="item" data-position="right" data-colspan="1">

			{% if showPreviewBtn %}
				{% include "_includes/previewbtns" %}
			{% endif %}

			<div class="pane meta">

				<div class="field">
					<div class="heading">
						<label>Mailer <span class="info">Update your Mailer in the <a href="{{ cpUrl('sproutemail/settings/campaigntypes/edit') ~ '/' ~ campaignTypeId }}">Campaign Type Settings</a>. Add new Mailers in the <a href="{{ cpUrl('sproutemail/settings/mailers') }}">Mailer Settings</a></span></label>
					</div>
					<div class="input">
						<h6>{{ mailer.getTitle() }}</h6>
					</div>
				</div>

				{{ forms.textField({
					label: "Slug"|t,
					locale: campaignEmail.locale,
					id: 'slug',
					name: 'slug',
					value: campaignEmail.slug,
					errors: (campaignEmail ? campaignEmail.getErrors('slug')|merge(campaignEmail.getErrors('uri'))),
				}) }}

				{% if craft.sproutEmail.displaySendDate() %}
					{{ forms.dateTimeField({
						label: "Send Date"|t,
						id: 'sendDate',
						name: 'sendDate',
						value: campaignEmail.sendDate,
						errors: (campaignEmail ? campaignEmail.getErrors('sendDate')),
					}) }}
				{% endif %}

				{% set statusInput %}
					<div class="left">
						{{ forms.lightswitch({
							id: 'enabled',
							name: 'enabled',
							on: campaignEmail.enabled
						}) }}
					</div>

					<div class="right">
						<input type="button" class="btn small formsubmit" value="{{ 'Delete'|t }}" data-action="sproutEmail/campaignEmails/deleteCampaignEmail" data-confirm="Are you sure you want to delete this Email and all of it's data?" data-redirect="sproutemail/campaigns">
					</div>
				{% endset %}

				{{ forms.field({
					label: "Status"|t,
					id: 'enabled'
				}, statusInput) }}

			</div>

			{% if mailer.getId() != 'copypaste' %}

				<div class="pane meta">

					{% set defaultFromName  = "" %}
					{% set defaultFromEmail = "" %}
					{% set defaultReplyTo   = "" %}

					{% if mailer.getId() == 'defaultmailer' %}
						{% set defaultFromName  = mailer.settings.fromName is defined ? mailer.settings.fromName : "" %}
						{% set defaultFromEmail = mailer.settings.fromEmail is defined ? mailer.settings.fromEmail : "" %}
						{% set defaultReplyTo   = mailer.settings.replyToEmail is defined ? mailer.settings.replyToEmail : "" %}
					{% endif %}

					{{ forms.textField({
						label: "From Name <span class='info'>The person or business sending the email</span>"|t,
						name: 'sproutEmail[fromName]',
						value: (campaignEmail.fromName is not empty ? campaignEmail.fromName : defaultFromName ),
						errors: (campaignEmail is defined ? campaignEmail.getErrors('fromName') : null),
						required: true
					}) }}

					{{ forms.textField({
						name: 'sproutEmail[fromEmail]',
						value: (campaignEmail.fromEmail is not empty ? campaignEmail.fromEmail : defaultFromEmail),
						label: "From Email <span class='info'>The email address of the person or business sending the email</span>"|t,
						errors: (campaignEmail is defined ? campaignEmail.getErrors('fromEmail') : null),
						required: true
					}) }}

					{{ forms.textField({
						name: 'sproutEmail[replyToEmail]',
						value: (campaignEmail.replyToEmail is not empty ? campaignEmail.replyToEmail : defaultReplyTo),
						label: "Reply To <span class='info'>The email address which will be used if any recipients reply to your email</span>"|t,
						errors: (campaignEmail is defined ? campaignEmail.getErrors('replyToEmail') : null),
						required: true
					}) }}

				</div>

				<div class="pane meta">
					{% if mailer.hasInlineRecipients() %}
						{{ forms.textField({
							label: "Recipients <span class='info'>A comma separated list of email addresses.</span>"|t,
							placeholder: "user@domain.com, other@domain.com"|t,
							name: "sproutEmail[recipients]",
							class: "code",
							value: campaignEmail is defined ? campaignEmail.recipients : "",
							errors: campaignEmail is defined ? campaignEmail.getErrors('recipients')
						}) }}
					{% endif %}
					{% if mailer.getListsHtml()|length %}
						<div class="field mailing-lists">
							<div class="heading">
								Lists
							</div>
							<div class="input">
								{% namespace 'lists' %}
								{{ mailer.getListsHtml(campaignEmail.listSettings)|raw }}
								{% endnamespace %}
							</div>
						</div>
					{% endif %}
				</div>

			{% endif %}

		</div>

	</div>

{% endif %}
{% endblock %}

{% if not campaignEmail.slug %}
	{% includeJs "window.slugGenerator = new Craft.SlugGenerator('#subjectLine', '#slug');" %}
{% endif %}