{% extends "sproutemail/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set body %}

	{% set campaigns = craft.sproutEmail.getSectionCampaigns() %}

	{# If there are Section-based Campaigns, Display them. #}
	{% for campaign in campaigns %}
		{% include 'sproutemail/_partials/campaignindex' %}
	{% endfor %}


	{% if not campaigns|length %}
	 	
	 	<div style="width:40%;">

		 	<h2>Create your first Campaign</h2>

		 	<p>Section-based Campaigns are a great way to leverage the power of Craft to manage your content and the benefits of a dedicated email program to manage your email.</p>

		 	<div class="buttons">
				<a class="btn submit icon" href="{{ url('sproutemail/campaigns/new') }}">Create a Campaign &raquo;</a>
			</div>

		</div>

	{% endif %}


{% endset %}

{% set js %}
	new Craft.AdminTable({
		tableSelector: '#campaigns',
		noObjectsSelector: '#nocampaigns',
		deleteAction: 'SproutEmail/campaigns/delete'
	});
	
	jQuery(document).ready(function(){
		jQuery('.export').click(function(){
			var query = 'entryId='+jQuery(this).closest('tr').attr('data-entry-id')
			+ '&campaignId='+jQuery(this).closest('tr').attr('data-id')
			+ '&action=SproutEmail/campaigns/export';
			$.post('{{ url('SproutEmail/campaigns/export') }}',query, function(data){
				alert(data);
			})
			return false;
		})
	})
{% endset %}
{% includeJs js %}
