{% extends "sproutemail/_layouts/elementindex" %}

{% set title = "Campaign Emails"|t %}
{% set elementType = 'SproutEmail_CampaignEmail' %}

{% set extraPageHeaderHtml %}

	{% set campaignTypes = craft.sproutEmail.getCampaignTypes() %}

	<div class="buttons">
		<div class="btngroup submit">
			<div class="btn submit menubtn add icon">{{ "New Email"|t }}</div>
			<div class="menu">
				<ul>
					{% if campaignTypes|length %}
						{% for campaignType in campaignTypes %}
							<li><a href="{{ url('sproutemail/campaigns/' ~ campaignType.id ~ '/new') }}">{{ campaignType.name|t }}</a></li>
						{% endfor %}
						<hr>
					{% endif %}
					<li><a href="{{ url('sproutemail/settings/campaigntypes/edit/new') }}">{{ "New Campaign"|t }}</a></li>
				</ul>
			</div>
		</div>
	</div>

{% endset %}

{% block sidebar %}

	{{ parent() }}

	{% include "sproutemail/_modals/box" %}

{% endblock %}
{% includeCssResource 'sproutemail/css/sproutemail.css' %}
