{% extends "sproutemail/_layouts/elementindex" %}

{% set title       = "Campaigns"|t %}
{% set elementType = "SproutEmail_CampaignEmail" %}

{% set extraPageHeaderHtml %}

	{% set campaigns = craft.sproutEmail.getCampaignTypes() %}

	<div class="buttons">
		<div class="btngroup submit">
			<div class="btn submit menubtn add icon">{{ "New Email"|t }}</div>
			<div class="menu">
				<ul>
					{% if campaigns|length %}
						{% for campaign in campaigns %}
							<li><a href="{{ url('sproutemail/campaigns/' ~ campaign.id ~ '/new') }}">{{ campaign.name|t }}</a></li>
						{% endfor %}
						<hr>
					{% endif %}
					<li><a href="{{ url('sproutemail/settings/campaigns/edit/new') }}">{{ "New Campaign"|t }}</a></li>
				</ul>
			</div>
		</div>
	</div>

{% endset %}

{% block sidebar %}

	{% set customizableSources = false %}

	{{ parent() }}

{% endblock %}
