.modal {
	max-width: 33%;
	min-width: 400px !important;
}

.modal table td {
	vertical-align: top;
}

#sproutmodal #content {
	/*padding: 1em;*/
}
#sproutmodal table.data tbody tr th:first-child,
#sproutmodal table.data tbody tr td:first-child {
	padding-left:.5em;
	width:25%;
}
#sproutmodal table.data tbody tr:last-child th,
#sproutmodal table.data tbody tr:last-child td {
	border-bottom: none;
}
#sproutmodal .footer .btn {
	font-size: 13px;
}
.status.ready {
	background-position: 0 0; // @green
}
.status.pending {
	background-position: 0 -10px; // @orange
}
.status.disabled {
	background-position: 0 -20px; // @red
}

/* sendEmailPrepare.html AND resendEmailPrepare.html */
.sproutemail-preparemodalbody table.data tbody tr:first-child td.title {
	padding-left: 22px;
}
.sproutemail-preparemodalbody .buttons {
	margin-bottom: 0;
}
.sproutemail-preparemodalbody .error a {
	color: inherit;
	text-decoration: underline;
}

#sproutmodal-error,
#sproutmodal-loading {
	/*padding: 1em;*/
}

#sproutmodal .spinner {
	height: 100px;
	width: 100%;
}

.snapshot-recipients span {
	display: inline-block;
	margin-left: 1em;
}
.snapshot-recipients span i {
	display: inline-block;
	font-style: normal;
	padding: .1em;
}

/* Notifications */
.sproutemail-preparemodalbody table.data tbody tr:first-child td.title {
	padding-left: 22px;
}
.sproutemail-preparemodalbody .buttons {
	margin-bottom: 0;
}
.sproutemail-preparemodalbody .error a {
	color: inherit;
	text-decoration: underline;
}