.field.mailing-lists .heading,
.field.event-options .heading,
.field.mailing-lists .input,
.field.event-options .input {
	padding-top: .4em;
	align-self: flex-start;
}

.sentemails span.tableRowInfo:hover {
	cursor: pointer;
}

.sentemail-btngroup .btn {
	outline: none;
}

.status.sent, .status.ready {
	background-color: #27AE60;
}

.status.scheduled {
	background-color: #0D99F2;
}

.status.failed, .status.incomplete  {
	background-color: #D0021B;
}