
footer.bsd-branding {
    bottom:2px;
    right:0;
    color:#999;
    font-size:11px;
    position:absolute;
}

footer.bsd-branding a {
    color:#999;
    font-weight:bold;
}

.event-options-block {
	margin: 20px 0;
}