{#
SendGrid specific api settings.
#}
<h3>SendGrid</h3>
{% set settings = craft.sproutEmail.getEmailProviderSettings('SendGrid') %}

{{ forms.textField({
	label: "API Username"|t,
	name: 'settings[SendGrid][api_user]',
	instructions: "Username"|t,
	value: (settings.api_user is defined ? settings.api_user : null)	
}) }}

{{ forms.textField({
	label: "API Key"|t,
	name: 'settings[SendGrid][api_key]',
	instructions: "Password"|t,
	value: (settings.api_key is defined ? settings.api_key : null)
}) }}
