{% extends 'sproutemail/defaultmailer/_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% if element is empty %}{% exit 404 %}{% endif %}

{% macro dateTimeField(element, attribute, label, attributes) %}
	{% import "_includes/forms" as forms %}

	{% set input %}
	{{ forms.date({
		id:		attribute,
		name:	attribute,
		value:	element.getAttribute(attribute),
		errors:	element.getErrors(attribute),
	}) }}

	{{ forms.time({
		id:		attribute,
		name:	attribute,
		value:	element.getAttribute(attribute),
		errors:	element.getErrors(attribute),
	}) }}
	{% endset %}

	{{ forms.field({
		id:			attribute,
		name:		attribute,
		class:		attributes.class is defined ? attributes.class : "",
		label:		label,
		required:	attributes.required is defined ? attributes.required : false
	}, input) }}

{% endmacro %}

{% from _self import dateTimeField %}

{% block content %}
	<div class="sproutemail-defaultmailer">
		<form
			method="post"
			accept-charset="UTF-8"
			data-saveshortcut="1"
			data-saveshortcut-redirect="{{ continueEditingUrl }}">
			<input type="hidden" id="action" name="action" value="sproutEmail/defaultMailer/saveRecipient">
			<input type="hidden" id="redirect" name="redirect" value="sproutemail/defaultmailer/recipients">

			{{ getCsrfInput() }}

			{% if element.id is defined %}<input type="hidden" id="id" name="id" value="{{ element.id }}">{% endif %}
			{% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ element.locale }}">{% endif %}

			{# BEGIN FORM #}
			<section id="default-fields">
				{{ forms.textField({
					id: 'email',
					name: 'recipient[email]',
					label: "Email"|t,
					required: true,
					autofocus: true,
					value: element is defined ? element.email : null,
					errors: element is defined and element.hasErrors('email') ? element.getErrors('email') : null
				}) }}
				{{ forms.textField({
					id: 'firstName',
					name: 'recipient[firstName]',
					label: "First Name"|t,
					value: element is defined ? element.firstName : null,
					errors: element is defined and element.hasErrors('firstName') ? element.getErrors('firstName') : null
				}) }}
				{{ forms.textField({
					id: 'lastName',
					name: 'recipient[lastName]',
					label: "Last Name"|t,
					value: element is defined ? element.lastName : null,
					errors: element is defined and element.hasErrors('lastName') ? element.getErrors('lastName') : null
				}) }}
			</section>

			<hr>

			{# __SECTION__ #}
			<section class="recipient-lists">
				<h2>Recipient Lists</h2>
				{{ recipientListsHtml }}
			</section>

			<hr>
			{#<h2>Custom Fields</h2>#}
			{# __SECTION__ #}
			{#<section id="customFields">#}
				{#{% for tab in recipientList.getFieldLayout().getTabs() %}#}
					{#<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>#}
						{#{% include "_includes/fields" with {#}
						{#fields: tab.getFields(),#}
						{#element: element#}
						{#} only %}#}
					{#</div>#}
				{#{% endfor %}#}
			{#</section>#}

			{# __SECTION__ #}
			<section class="buttons">
				<div class="btngroup submit">
					<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

					<div class="btn submit menubtn"></div>
					<div class="menu">
						<ul>
							<li><a class="formsubmit" data-redirect="sproutemail/defaultmailer/recipients/edit/{id}">{{ "Save and continue editing"|t }}</a></li>
							<li><a class="formsubmit" data-redirect="sproutemail/defaultmailer/recipients/new">{{ "Save and add another"|t }}</a></li>
						</ul>
					</div>
				</div>

				{% if element.id is defined and element.id %}
					<input
						type="button"
						class="btn formsubmit"
						data-action="sproutEmail/defaultMailer/deleteRecipient"
						data-confirm="{{ 'Are you sure you want to delete this recipient?'|t }}"
						data-redirect="sproutemail/defaultmailer/recipients"
						value="{{ 'Delete'|t }}">
				{% endif %}
			</section>
		</form>
	</div>
{% endblock %}
