{% extends "_layouts/elementindex" %}

{% set title = 'Sprout Email'|t %}

{% set crumbs = [
    { label: "Sprout Email"|t, url: url('sproutemail') },
    { label: "Settings"|t, url: url('sproutemail/settings') },
    { label: "Mailers"|t, url: url('sproutemail/settings?tab=mailers') }
] %}

{% set selectedTab = craft.request.getSegment(3) %}

{% set tabs = {
    recipients: {
        label: "Recipients"|t,
        url: cpUrl('sproutemail/defaultmailer/recipients')
    },
    recipientlists: {
        label: "Lists"|t,
        url: cpUrl('sproutemail/defaultmailer/recipientlists')
    },
	settings: {
		label: "Settings"|t,
		url: cpUrl('sproutemail/settings/mailers/defaultmailer')
	},
} %}

{% block sidebar %}
	<div class="buttons">
		<div class="btngroup submit">
			<div class="btn submit menubtn add icon">{{ "New"|t }}</div>
			<div class="menu">
				<ul>
					<li><a href="{{ url('sproutemail/defaultmailer/recipients/new') }}">{{ "Recipient"|t }}</a></li>
					<li><a href="{{ url('sproutemail/defaultmailer/recipientlists/new') }}">{{ "Recipient List"|t }}</a></li>
				</ul>
			</div>
		</div>
	</div>

	{{ parent() }}
{% endblock %}
