{% extends "_layouts/elementindex" %}

{% set title = 'Sprout Email'|t %}

{% set crumbs = [
    { label: "Sprout Email"|t, url: url('sproutemail') },
    { label: "Mailers"|t, url: url('sproutemail/settings?tab=mailers') }
] %}

{% set selectedTab = craft.request.getSegment(3) %}

{% set tabs = {
	email: {
		label: "Email"|t,
		url: cpUrl('sproutemail')
	},
	recipients: {
		label: "Lists & Subscribers"|t,
		url: cpUrl('sproutemail/defaultmailer/recipients')
	}
} %}

{% block sidebar %}

	<div class="buttons">
		<div class="btngroup submit">
			<div class="btn submit menubtn add icon">{{ "New"|t }}</div>
			<div class="menu">
				<ul>
					<li><a href="{{ url('sproutemail/defaultmailer/recipients/new') }}">{{ "Recipient"|t }}</a></li>
					<li><a href="{{ url('sproutemail/defaultmailer/recipientlists/new') }}">{{ "Recipient List"|t }}</a></li>
				</ul>
			</div>
		</div>
	</div>

	{{ parent() }}

{% endblock %}
