{% extends "sproutemail/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set title = "Campaigns"|t %}

{% set campaignTypes = craft.sproutEmail.getCampaignTypes() %}

{% set content %}

	{% if campaignTypes|length %}

		{% for campaignType in campaignTypes %}
			{% if loop.first %}

				<table id="campaigns" class="data fullwidth">
				<thead>
				<th width="25%">
					{{ "Campaign"|t }}
	        <span class="info">
	          <p>{{ "Create multiple Campaigns with unique fields, layouts, and email service provider integrations."|t
		          }}</p>
	        </span>
				</th>
				<th width="20%">{{ "Handle"|t }}</th>
				<th width="20%">{{ "Mailer"|t }}</th>
				<th width="10%">{{ "Template"|t }}</th>
				<th class="thin"></th>
				</thead>
			{% endif %}
			<tr data-id="{{ campaignType.id }}" data-name="{{ campaignType.name }}">
				<td>
					<a href="{{ url('sproutemail/settings/campaigns/edit/' ~ campaignType.id ) }}">{{ campaignType.name }}</a>
				</td>
				<td>
					<code>{{ campaignType.handle }}</code>
				</td>
				<td>{{ campaignType.mailer }}</td>
				<td><code>{{ campaignType.template }}</code></td>
				<td colspan="3" class="thin">
					<a class="delete icon" title='{{ "Delete"|t }}'></a>
				</td>
			</tr>
			{% if loop.last %}
				</table>
			{% endif %}

		{% endfor %}

		<div class="buttons">
			<a class="btn submit add icon" href="{{ url('sproutemail/settings/campaigns/edit/new') }}">{{ "New Campaign"|t
				}}</a>
		</div>

	{% else %}

		<div>

			<h2>{{ "Create your first Campaign"|t }}</h2>

			<p>{{ "Campaigns are a great way to leverage the power of Craft to manage your content and the benefits of a dedicated
				email program to manage your email."|t }}</p>

			<div class="buttons">
				<a class="btn submit icon" href="{{ url('sproutemail/settings/campaigns/edit/new') }}">{{ "Create an
					Campaign"|t }} &raquo;</a>
			</div>

		</div>
	{% endif %}

{% endset %}

{% set js %}
new Craft.AdminTable({
	tableSelector: '#campaigns',
	noObjectsSelector: '#nocampaigns',
	deleteAction: 'sproutEmail/campaignType/deleteCampaignType'
});
{% endset %}
{% includeJs js %}