{% extends "sproutemail/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set title = 'General Settings' %}

{% set content %}

	<input type="hidden" name="action" value="sproutEmail/savePluginSettings">
	<input type="hidden" name="redirect" value="sproutemail/settings/general">

	{% namespace 'settings' %}

	{{ forms.textField({
		label: "Plugin Name"|t,
		id: 'pluginNameOverride',
		name: 'pluginNameOverride',
		instructions: "Intuitive, human-readable plugin name for the end user."|t,
		value: settings.pluginNameOverride ? settings.pluginNameOverride : 'Sprout Email',
		autofocus: true,
		first: true,
		errors: ''
	}) }}

	{% endnamespace %}

	<div class="buttons">
		<input class="btn submit" type="submit" value="{{ 'Save'|t }}">
	</div>

{% endset %}