{% import "_includes/forms" as forms %}

{% set entries = craft.sproutEmail.getCampaigns('email') %}

{% if entries|length %}

	<h3>
		Campaigns
		<span class="info">
			<p>Create multiple Campaigns with unique fields, layouts, and email service provider integrations.</p>
		</span>
	</h3>

	{% for campaign in entries %}
		{% if loop.first %}

		<table id="entries" class="data fullwidth">
			<thead>
				<th width="40%"></th>
				<th width="20%"></th>
				<th width="10%"></th>
				<th class="thin"></th>
			</thead>
		{% endif %}
			<tr>
				<td><a href="{{ url('sproutemail/settings/campaigns/edit/' ~ campaign.id ) }}">{{ campaign.name }}</a></td>
				<td colspan="3" class="thin">
					<a class="delete icon" title="Delete"></a>

					{# <form method="post" action="" accept-charset="UTF-8">
					  <input type="hidden" name="action" value="sproutEmail/campaign/deleteCampaign">
					  <input type="hidden" name="redirect" value="sproutemail/entries">
					  <input type="hidden" name="id" value="{{ campaignId }}">
					  <input type="submit" class="btn small" value="Delete">
					</form> #}
				</td>
			</tr>
		{% if loop.last %}
		</table>
		{% endif %}

	{% endfor %}

	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('sproutemail/settings/campaigns/edit/new') }}">New Campaigns</a>
	</div>

{% else %}

 	<div style="width:40%;">

	 	<h2>Create your first Campaign</h2>

	 	<p>Campaigns are a great way to leverage the power of Craft to manage your content and the benefits of a dedicated email program to manage your email.</p>

	 	<div class="buttons">
			<a class="btn submit icon" href="{{ url('sproutemail/settings/campaigns/edit/new') }}">Create an Campaign &raquo;</a>
		</div>

	</div>

	<br/><br/>
{% endif %}
