{% import "_includes/forms" as forms %}

{% set emailblasts = craft.sproutEmail.getEmailBlastTypes('blast') %}

{% if emailblasts|length %}
	
	<h3>
		Email Blast Types
		<span class="info">
			<p>Create multiple Email Blast Types with unique fields, layouts, and email service provider integrations.</p>
		</span>
	</h3>

	{% for emailBlastType in emailblasts %}
		{% if loop.first %}

		<table id="emailblasts" class="data fullwidth">
			<thead>
				<th width="40%"></th>
				<th width="20%"></th>
				<th width="10%"></th>
				<th width="15%"></th>
			</thead>
		{% endif %}
			<tr>
				<td><a href="{{ url('sproutemail/settings/emailblasttypes/edit/' ~ emailBlastType.id ) }}">{{ emailBlastType.name }}</a></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		{% if loop.last %}
		</table>
		{% endif %}

	{% endfor %}
 	
	<div class="buttons">
		<a class="btn submit add icon" href="{{ url('sproutemail/settings/emailblasttypes/new') }}">New Email Blast Types</a>
	</div>

{% else %}
 	
 	<div style="width:40%;">

	 	<h2>Create your first Email Blast Type</h2>

	 	<p>Email Blast Types are a great way to leverage the power of Craft to manage your content and the benefits of a dedicated email program to manage your email.</p>

	 	<div class="buttons">
			<a class="btn submit icon" href="{{ url('sproutemail/settings/emailblasttypes/new') }}">Create an Email Blast Type &raquo;</a>
		</div>

	</div>

	<br/>
	<br/>
	
{% endif %}