{% import "_includes/forms" as forms %}

{% set mailers       = craft.sproutEmail.getMailers() %}
{% set shouldRefresh = false %}

{% for mailer in mailers %}
	{% if loop.first %}
		<table id="mailers" class="data fullwidth">
		<thead>
			<th>{{ "Mailer"|t }}</th>
			<th>{{ "Settings"|t }}</th>
			<th>{{ "Description"|t }}</th>
        </thead>
	{% endif %}

	{% if mailer.isInstalled() %}
		<tr>
			<td>
				{{ mailer.getTitle() }}
			</td>
			<td>
				{% if mailer.hasCpSettings() %}
					<a href="{{ mailer.getCpSettingsUrl() }}" title="{{ mailer.getTitle() }}">{{ "Settings"|t }}</a>
				{% endif %}
			</td>
			<td>{{ mailer.getDescription()|md }}</td>
		</tr>
	{% else %}
		{% set shouldRefresh = true %}
	{% endif %}{# mailer installed? #}

	{% if loop.last %}
		</table>

		<hr>

		<h3>
			{{ 'Available Mailers'|t }}
			<span class="info" style="vertical-align: top;">
				Mailers are plugins themselves.
				They provide Sprout Email with third party email service integration so that it can use those services to send your campaigns
			</span>
		</h3>
		{# @todo: We probably want to make these links dynamic rather than fixed #}
		{# Meaning, we shouldn't have to update them after a version update #}
		<ul>
			<li>
				<a href="http://sprout.barrelstrengthdesign.com/content/plugins/SproutEmailMailchimp-0.4.0.zip" target="_blank">MailChimp</a>
			</li>
			<li>
				<a href="http://sprout.barrelstrengthdesign.com/content/plugins/SproutEmailCampaignMonitor-0.4.0.zip" target="_blank">Campaign Monitor</a>
			</li>
			<li>
				<a href="http://sprout.barrelstrengthdesign.com/content/plugins/SproutEmailCopyPaste-0.4.0.zip" target="_blank">Copy & Paste</a>
			</li>
		</ul>
		<p><em>Once installed, you can update their settings in the list above.</em></p>
	{% endif %}

{% endfor %}

{% if shouldRefresh %}
	<hr>

	<div class="notices">
		<h2 class="error">{{ "Installation Required"|t }}</h2>
		<p>{{ "Sprout Email has detected mailers not currently installed."|t }}</p>

		<hr>

		<p>
			<a href="{{ actionUrl('sproutEmail/mailer/installMailers') }}" class="btn" title='{{ "Install Mailers"|t }}'>{{
				"Install
			Mailers"|t }}</a>
		</p>
	</div>
{% endif %}
