{% import "_includes/forms" as forms %}

{% set mailers = craft.sproutEmail.getMailers() %}

<form method="post" action="" accept-charset="UTF-8" data-saveshortcut data-saveshortcut-redirect="{{ url('sproutemail/settings#settings-api') }}">
	<input type="hidden" name="action" value="sproutEmail/mailer/saveSettings">
	<input type="hidden" name="redirect" value="sproutemail/settings?tab=mailers">

	{{ getCsrfInput() }}

	<div id="tab-campaign-info" class="tab-content">
		{% for mailer in mailers %}
			{% if mailer.isInstalled() %}
				{% set settings = models[mailer.getId()] is defined ? models[mailer.getId()] : null %}

				<h3>{{ mailer.getCpTitle() }}</h3>
				{{ mailer.getDescription()|markdown }}
				{{ mailer.getSettingsHtml({forms: forms, settings: settings})|raw }}
				<hr>
			{% endif %}
		{% endfor %}
	</div>

	<div class="buttons">
		<input class="btn submit" type="submit" value="Save API Settings">
		<a class="btn" href="{{ actionUrl('sproutEmail/mailer/installMailers') }}" title="Refresh List">Refresh List</a>
	</div>

</form>
