{% extends "sproutemail/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set title = 'Mailers' %}

{% set shouldRefresh = false %}

{% block saveButton %}
	{% if shouldRefresh %}
		<div class="buttons">
				<a href="{{ actionUrl('sproutEmail/mailer/installMailers') }}"  class="btn submit" title='{{ "Install Mailers"|t }}'>{{ "Install Mailers"|t }}</a>
		</div>
	{% endif %}

{% endblock %}

{% set content %}

	{% set mailers = craft.sproutEmail.getMailers() %}


	{% set mailerTableHtml %}

		{% for mailer in mailers %}

			{% if loop.first %}
				<table id="mailers" class="data fullwidth">
				<thead>
					<th>{{ "Mailer"|t }}</th>
					<th>{{ "Settings"|t }}</th>
					<th>{{ "Description"|t }}</th>
				</thead>
			{% endif %}

			{% if mailer.isInstalled() %}
				<tr>
					<td>
						{{ mailer.getTitle() }}
					</td>
					<td>
						{% if mailer.hasCpSettings() %}
							<a href="{{ mailer.getCpSettingsUrl() }}" title="{{ mailer.getTitle() }}">{{ "Settings"|t }}</a>
						{% endif %}
					</td>
					<td>{{ mailer.getDescription()|md }}</td>
				</tr>
			{% else %}
				{% set shouldRefresh = true %}
			{% endif %}{# mailer installed? #}

			{% if loop.last %}
				</table>
			{% endif %}

		{% endfor %}

	{% endset %}

	{% if shouldRefresh %}
		<h2 class="error">{{ "Installation Required"|t }}</h2>
		<p>{{ "Press the 'Install Mailers' button at the top right. Sprout Email has detected mailers not currently
		installed."|t }}</p>
		<hr>
	{% endif %}

	{% if mailerTableHtml is defined %}
		{{ mailerTableHtml }}
	{% endif %}

	<div class="pane">

		<h3>
			{{ 'Available Mailers'|t }}
			<span class="info" style="vertical-align: top;">
					{{ 'Mailers are plugins themselves.'|t }}
				{{ 'They provide Sprout Email with third party email service integration so that it can use those services to send your campaigns.'|t }}
				</span>
		</h3>
		<p>
			{{ 'Please visit our'|t }}
			<a href="http://sprout.barrelstrengthdesign.com/craft-plugins/email/docs/email-campaigns/campaign-overview" target="_blank" title="Email Campaigns Documentation">
				{{ 'email campaigns documentation'|t }}
			</a>
			{{ 'for the most up to date list of <strong>available mailers</strong> and related documentation.'|t|raw }}
		</p>
		<p>
			<em>{{ 'Once installed, you can update their settings in the list above.'|t }}</em>
		</p>

	</div>

{% endset %}
