{% import "_includes/forms" as forms %}

{% set title = 'Notifications' %}

{% set crumbs = [
  { label: "Sprout Email"|t, url: url('sproutemail') }
] %}

{% block main %}

	{% set notifications = craft.sproutEmail.getCampaigns('notification') %}
	
	{% for campaign in notifications %}
			
		{% if loop.first %}
		<h3>Notifications</h3>
		<table id="entries" class="data fullwidth">
			<thead>
				<th width="65%"></th>
				<th class="thin"></th>
			</thead>
		{% endif %}
		
			<tr data-id="{{ campaign.id }}"  data-name="{{ campaign.name|t }}">
				<td>
					<a href="{{ url('sproutemail/settings/notifications/edit/') }}/{{ campaign.id }}">{{ campaign.name }}</a>
					&nbsp;&nbsp;<span style="color: #999;text-transform:uppercase;font-size:.8em">{{ campaign.dateUpdated|date('F d, Y') }}</span>
				</td>
				<td class="thin">
					<a class="delete icon" title="Delete"></a>
				</td>
			</tr>

		{% if loop.last %}
		</table>
		{% endif %}

	{% endfor %}


	{% if notifications|length %}
	 	
		<div class="buttons">
			<a class="btn submit add icon" href="{{ url('sproutemail/settings/notifications/edit/new') }}">New Notification</a>
		</div>

	{% else %}
	 	
	 	<div style="width:40%;">

		 	<h2>Create your first Notification</h2>

		 	<p>Notifications allow you to trigger emails when certain conditions are met. Create a notification to stay on top of user generated content, keep an eye on publish workflows, or be in the know when something happens on your website.</p>

		 	<div class="buttons">
				<a class="btn submit icon" href="{{ url('sproutemail/settings/notifications/edit/new') }}">Create a Notification &raquo;</a>
			</div>

		</div>

	{% endif %}
 	
	{% if brandMessageFooter is defined %}
		{{ brandMessageFooter }}
	{% endif %}

{% endblock %}

{% set js %}
	new Craft.AdminTable({
		tableSelector: '#entries',
		noObjectsSelector: '#noentries',
		deleteAction: 'SproutEmail/entries/delete'
	});
{% endset %}
{% includeJs js %}
