{% set whenNew = (options.craft.saveEntry.whenNew is defined)
                  ? options.craft.saveEntry.whenNew
                  : false %}
{% set whenUpdated = (options.craft.saveEntry.whenUpdated is defined)
		                 ? options.craft.saveEntry.whenUpdated
		                 : false %}

{{ forms.checkboxField({
		label: "When the entry is created?"|t,
		name: "rules[craft][saveEntry][whenNew]",
		checked: whenNew
}) }}

{{ forms.checkboxField({
		label: "When the entry is updated?"|t,
		name: "rules[craft][saveEntry][whenUpdated]",
		checked: whenUpdated
}) }}

{% set fieldValue = '*' %}
{% if options.craft.saveEntry.sectionIds is defined %}

	{% if options.craft.saveEntry.sectionIds is not empty %}

		{% set fieldValue = options.craft.saveEntry.sectionIds %}

	{% else %}

		{% set fieldValue = 'x' %}

	{% endif %}

{% endif %}

{{ forms.checkboxSelectField({
	label: "Sections"|t,
	instructions: "Select sections"|t,
	name: "rules[craft][saveEntry][sectionIds]",
	options : availableSections,
	values: fieldValue,
	errors: errors is defined ? errors : null,
}) }}
