{% set whenNew = (options.craft.saveUser.whenNew is defined)
                 ? options.craft.saveUser.whenNew
                 : false %}
{% set whenUpdated = (options.craft.saveUser.whenUpdated is defined)
		                 ? options.craft.saveUser.whenUpdated
		                 : false %}
{% set userGroupIds = (options.craft.saveUser.userGroupIds is defined)
		                  ? options.craft.saveUser.userGroupIds
		                  : null %}

{{ forms.checkboxField({
		label: "When the user is created?"|t,
		name: "rules[craft][saveUser][whenNew]",
		checked: whenNew
}) }}

{{ forms.checkboxField({
		label: "When the user is updated?"|t,
		name: "rules[craft][saveUser][whenUpdated]",
		checked: whenUpdated
}) }}

{% if groups is iterable and groups|length %}
	{{ forms.field({
			label: "Groups"|t,
			instructions: "Select groups or leave unchecked for all groups."|t,
			errors: errors is defined ? errors : null,
		},
		forms.checkboxGroup({
			name: "rules[craft][saveUser][userGroupIds]",
			options : groups,
			values: userGroupIds
	})) }}
{% endif %}
