{{ forms.checkboxSelectField({
	label: "Old Groups"|t,
	instructions: "Select old groups."|t,
	name: "groups[old]",
	options : groups,
	values: options.groups.old is defined ? options.groups.old : '',
	errors: errors is defined ? errors : null,
}) }}

{{ forms.checkboxSelectField({
	label: "New Groups"|t,
	instructions: "Select new groups."|t,
	name: "groups[new]",
	options : groups,
	values: options.groups.new is defined ? options.groups.new : '',
	errors: errors is defined ? errors : null,
}) }}