{% import "_includes/forms" as forms %}

<h1>{{ mailer.getTitle() }}</h1>

{% if success is defined and success %}
	<h2>{{ message is defined and message is not empty ? message : "Campaign sent successfully."|t }}</h2>
{% else %}

	<h2>Unable to send campaign.</h2>
	{% if message is defined and message is not empty %}<p class="errors">{{ message }}</p>{% endif %}

{% endif %}

<hr>

<div class="buttons right">
	<div class="buttons">
		<button id="close" class="btn">{{ "Done"|t }}</button>
	</div>
</div>
