{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% if craft.request.getSegment('4') == 'new' %}
	{% set title = "New Email Blast Type" %}
	{% set emailBlastTypeId = null %}
{% elseif emailBlastType is defined %}
	{% set title = "Edit Email Blast Type" %}
	{% set emailBlastTypeId = emailBlastType.id %}
{% else %}
	{% set title = "Edit Email Blast Type" %}
	{% set emailBlastType = craft.sproutEmail.getEmailBlastTypeById(emailBlastTypeId) %}
	{% set emailBlastTypeId = emailBlastType.id %}	
{% endif %}

{% set crumbs = [
	{ label: "Sprout Email"|t, url: url('sproutemail/emailblasts') },
] %}

{% set tabs = {
    general: { 
      label: "Email Blast Type Info"|t,
      url: '#',
      class: 'tab-emailblasttype-info'
    },
    template:    { 
      label: "Email Template"|t,
      url: '#',
      class: 'tab-email-template disabled'
    },
    subscribers:    { 
      label: "Recipients"|t,
      url: '#',
      class: 'tab-recipients disabled'
    },
    fields: {
      label: "Fields"|t,
      url: url('sproutemail/settings/emailblasttypes/edit/' ~ emailBlastTypeId ~ '/fields'),
      class: 'fields'
    }
} %}

{% set content %}
    {% include "sproutemail/settings/emailblasttypes/_tabs/info" %}
{% endset %}

{% includeJsResource "sproutemail/js/sproutemail.js" %}