{% extends "sproutemail/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set body %}

	{% set emailblasts = craft.sproutEmail.getEmailBlastTypes() %}

	{# If there are Section-based EmailBlastTypes, Display them. #}
	{% for emailBlastType in emailblasts %}
		{% include 'sproutemail/_partials/emailblastsindex' %}
	{% endfor %}
	
	{% if not emailblasts|length %}
	 	
	 	<div style="width:40%;">

		 	<h2>Create your first Email Blast Type</h2>

		 	<p>Email Blast Types are a great way to leverage the power of Craft to manage your content and the benefits of a dedicated email program to manage your email.</p>

		 	<div class="buttons">
				<a class="btn submit icon" href="{{ url('sproutemail/emailblasts/new') }}">Create an Email Blast Type &raquo;</a>
			</div>

		</div>

	{% endif %}


{% endset %}


