{% extends 'sproutemail/defaultmailer/_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% set content %}
	<h2>Edit Recipient List</h2>
	<form
		method="post"
		data-saveshortcut="1"
		data-saveshortcut-redirect="{{ continueEditingUrl }}">
		<input type="hidden" name="action" value="sproutEmail/defaultMailer/saveRecipientList">
		<input type="hidden" name="redirect" value="sproutemail/defaultmailer/recipients">

		{{ getCsrfInput() }}

		{% if recipientList.id is defined %}<input type="hidden" id="id" name="id" value="{{ recipientList.id }}">{% endif %}

		{{ forms.textField({
			id: 'name',
			name: 'recipientList[name]',
			label: 'Name'|t,
			required: true,
			autofocus: true,
			value: recipientList is defined ? recipientList.name : null,
			errors: recipientList is defined and recipientList.hasErrors('email') ? recipientList.getErrors('email') : null
		}) }}
		{{ forms.textField({
			id: 'handle',
			name: 'recipientList[handle]',
			label: 'Handle'|t,
			value: recipientList is defined ? recipientList.handle : null,
			errors: recipientList is defined and recipientList.hasErrors('handle') ? recipientList.getErrors('handle') : null
		}) }}

		<div class="btngroup submit">
			<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

			<div class="btn submit menubtn"></div>
			<div class="menu">
				<ul>
					<li><a class="formsubmit" data-redirect="sproutemail/defaultmailer/recipientlists/edit/{id}">{{ "Save and continue editing"|t }}</a></li>
					<li><a class="formsubmit" data-redirect="sproutemail/defaultmailer/recipientlists/new">{{ "Save and add another"|t }}</a></li>
				</ul>
			</div>
		</div>
	</form>
{% endset %}

{% if not recipientList.handle %}
	{% includeJs "window.slugGenerator = new Craft.SlugGenerator('#name', '#handle');" %}
{% endif %}
