{#
CampaignMonitor specific api settings.
#}
<h3>Campaign Monitor</h3>
{% set settings = craft.sproutEmail.getEmailProviderSettings('CampaignMonitor') %}

{{ forms.textField({
	label: "Client ID"|t,
	name: 'settings[CampaignMonitor][clientId]',
	instructions: "Client ID"|t,
	value: (settings.clientId is defined ? settings.clientId : null)	
}) }}

{{ forms.textField({
	label: "API Key"|t,
	name: 'settings[CampaignMonitor][apiKey]',
	instructions: "API Key"|t,
	value: (settings.apiKey is defined ? settings.apiKey : null)
}) }}
