{% set subscriber_lists = craft.sproutEmail.getSubscriberList('CampaignMonitor') %}

{% if(subscriber_lists|length > 0) %}

	{{ forms.field({
		label: "Subscriber Lists"|t,
		instructions: "Select one or more subscriber lists to send your campaign."|t,
		errors: (campaign is defined ? campaign.getErrors('emailProviderRecipientListId') : null) ,
	}, forms.checkboxGroup({
		name: 'emailProviderRecipientListId',
		options : subscriber_lists,
		values: campaign is defined ? campaign.emailProviderRecipientListId : null
	})) }}
	
{% else %}
	
	<p class="recipients-not-defined" >You must first create a subscriber list in your CampaignMonitor account.</p>

{% endif %}
