{% extends "_layouts/cp" %}

{% set settings = craft.sproutEmail.getSettings() %}

{% if craft.request.getSegment(2) == 'campaigns' and not settings.enableCampaignEmails %}
	{% exit 403 %}
{% endif %}

{% if craft.request.getSegment(2) == 'notifications' and not settings.enableNotificationEmails %}
	{% exit 403 %}
{% endif %}

{% if craft.request.getSegment(2) == 'sentemails' and not settings.enableSentEmails %}
	{% exit 403 %}
{% endif %}

{% if craft.request.getSegment(2) == 'recipients' and not settings.enableRecipientLists %}
	{% exit 403 %}
{% endif %}

{% set subnav = {} %}

{% if settings.enableCampaignEmails %}
	{% set subnav = subnav|merge({
		campaigns: {
			label: "Campaigns"|t,
			url: url('sproutemail/campaigns')
		}
	}) %}
{% endif %}

{% if settings.enableNotificationEmails %}
	{% set subnav = subnav|merge({
		notifications: {
			label: "Notifications"|t,
			url: url('sproutemail/notifications')
		}
	}) %}
{% endif %}

{% if settings.enableSentEmails %}
	{% set subnav = subnav|merge({
		sentemails: {
			label: "Sent Email"|t,
			url: url('sproutemail/sentemails')
		}
	}) %}
{% endif %}

{% if settings.enableRecipientLists %}
	{% set subnav = subnav|merge({
		recipients: {
			label: "Recipients"|t,
			url: url('sproutemail/recipients')
		}
	}) %}
{% endif %}

{% if currentUser.can('editSproutEmailSettings') %}
	{% set subnav = subnav|merge({
		settings: {
			label: "Settings"|t,
			url: url('sproutemail/settings')
		}
	}) %}
{% endif %}

{% set selectedSubnavItem = craft.request.segment(2) %}

{% includeCssResource "sproutemail/css/sproutemail.css" %}
{% includeJsResource "sproutemail/js/sproutemail.js" %}
