{% extends "_layouts/cp" %}

{% set subnav = {
	campaigns: {
		label: "Campaigns"|t,
		url: url('sproutemail/campaigns')
	},
	notfications: {
		label: "Notifications"|t,
		url: url('sproutemail/notifications')
	},
	sentemails: {
		label: "Sent Email"|t,
		url: url('sproutemail/sentemails')
	},
	recipients: {
		label: "Recipients"|t,
		url: url('sproutemail/recipients')
	}
} %}

{% if currentUser.can('editSproutEmailSettings') %}
	{% set subnav = subnav|merge({
		settings: {
			label: "Settings"|t,
			url: url('sproutemail/settings')
		}
	}) %}
{% endif %}

{% set selectedSubnavItem = craft.request.segment(2) %}

{% includeCssResource "sproutemail/css/sproutemail.css" %}
{% includeJsResource "sproutemail/js/sproutemail.js" %}
