{% extends "_layouts/elementindex" %}

{% set subnav = {
	entries: {
		label: "Email"|t,
		url: url('sproutemail/entries')
	},
	recipients: {
		label: "Recipients"|t,
		url: url('sproutemail/recipients')
	}
} %}

{% if currentUser.can('editSproutEmailSettings') %}
	{% set subnav = subnav|merge({
		settings: {
			label: "Settings"|t,
			url: url('sproutemail/settings')
		}
	}) %}

	{% set subnav = subnav|merge({
		sentemails: {
			label: "Sent Emails"|t,
			url: url('sproutemail/sentemails')
		}
	}) %}
{% endif %}

{% set selectedSubnavItem = craft.request.segment(2) %}