{% extends "_layouts/cp" %}

{% set title  = "Settings"|t %}

{% set crumbs = [
  { label: "Settings"|t, url: url('sproutemail/settings') }
] %}

{% set subnav = {
	entries: {
		label: "Email"|t,
		url: url('sproutemail/entries')
	},
	recipients: {
		label: "Recipients"|t,
		url: url('sproutemail/recipients')
	}
} %}

{% if currentUser.can('editSproutEmailSettings') %}
	{% set subnav = subnav|merge({
	settings: {
		label: "Settings"|t,
		url: url('sproutemail/settings')
	}
	}) %}
{% endif %}

{% set selectedSubnavItem = craft.request.segment(2) %}

{% set selectedTab = tab is defined ? tab : 'mailers' %}

{% set tabs = {
	general: {
		label: "Campaigns"|t,
		url: "#settings-general"
	},
	notifications: {
		label: "Notifications"|t,
		url: "#settings-notifications"
	},
	mailers: {
		label: "Mailers"|t,
		url: "#settings-mailers"
	},
	cp: {
		label: "Control Panel"|t,
		url: "#settings-cp"
	}
} %}

{% set content %}

  {{ body }}

{% endset %}
