{% extends "_layouts/cp" %}

{% set title  = "Settings"|t %}

{% set crumbs = [
  { label: "Sprout Email"|t, url: url('sproutemail') },
  { label: "Settings"|t, url: url('sproutemail/settings') },
] %}

{% set tabs = {
	general: {
	    label: "Campaigns"|t,
	    url: "#settings-general"
	},
	notifications: {
	    label: "Notifications"|t,
	    url: "#settings-notifications"
	},
	api: {
	    label: "Mailers"|t,
	    url: "#settings-api"
	},
	settings: {
	    label: "Control Panel"|t,
	    url: "#settings-cp"
	}
} %}

{% set content %}

  {{ body }}

  {% include 'sproutemail/_partials/brand/footer' %}

{% endset %}

{% includeCssResource "sproutemail/css/brand.css" %}
