{% extends "_layouts/cp" %}

{% set subnav = {
	campaigns: {
		label: "Campaigns"|t,
		url: url('sproutemail/campaigns')
	},
	notfications: {
		label: "Notifications"|t,
		url: url('sproutemail/notifications')
	},
	sentemails: {
		label: "Sent Email"|t,
		url: url('sproutemail/sentemails')
	},
	recipients: {
		label: "Recipients"|t,
		url: url('sproutemail/recipients')
	}
} %}

{% if currentUser.can('editSproutEmailSettings') %}
	{% set subnav = subnav|merge({
		settings: {
			label: "Settings"|t,
			url: url('sproutemail/settings')
		}
	}) %}
{% endif %}

{% set selectedSubnavItem = craft.request.segment(2) %}
{% set selectedSidebarItem = craft.request.segment(4) ? craft.request.segment(4) : craft.request.segment(3) %}

{% set fullPageForm = true %}

{% block saveButton %}{% endblock %}

{% set sidebar %}

	<nav class="last">
		<ul>
			<li><a href="{{ url('sproutemail/settings/general') }}" {% if selectedSidebarItem == 'general'
				%}class="sel"{% endif %}>General</a></li>

			<li class="heading"><span>Email</span></li>
			<li><a href="{{ url('sproutemail/settings/campaigntypes') }}" {% if selectedSidebarItem == 'campaigntypes' %}class="sel"{% endif %}>Campaign Types</a></li>
			<li><a href="{{ url('sproutemail/settings/mailers') }}" {% if selectedSidebarItem == 'mailers' %}class="sel"{% endif %}>Mailers</a></li>

			<li class="heading"><span>Examples</span></li>
			<li><a href="{{ url('sproutemail/settings/examples') }}" {% if selectedSidebarItem == 'examples'
				%}class="sel"{% endif %}>Examples</a></li>

			<li class="heading"><span>Integrations</span></li>
			<li><a href="{{ url('sproutemail/settings/integrations/forms') }}" {% if selectedSidebarItem == 'forms'
				%}class="sel"{% endif %}>Forms</a></li>
			<li><a href="{{ url('sproutemail/settings/integrations/seo') }}" {% if selectedSidebarItem == 'seo'
				%}class="sel"{% endif %}>SEO</a></li>

		</ul>
	</nav>

{% endset %}
