{% from "_includes/forms" import textField %}

{{ textField({
	label: "Email Subject"|t,
	id: 'title',
	name: 'title',
	value: emailBlast.title,
	errors: emailBlast.getErrors('title'),
	first: true,
	autofocus: true,
	required: false,
	maxlength: 255
}) }}

<div>
	{% for tab in emailBlastType.getFieldLayout().getTabs() %}
		<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
			{% include "_includes/fields" with {
				fields:  tab.getFields(),
				element: emailBlast,
				static:  (static is defined ? static : false)
			} only %}
		</div>
	{% endfor %}
</div>
