{% from "_includes/forms" import textField %}

{% if emailBlast.getErrors('subjectLine') or emailBlast.getErrors('title') %}
	{% set subjectLineError = ['Subject Line cannot be blank.'|t] %}
{% endif %}

{{ textField({
	label: "Email Subject"|t,
	id: 'subjectLine',
	name: 'subjectLine',
	value: emailBlast.subjectLine,
	errors: (subjectLineError is defined ? subjectLineError : null),
	first: true,
	autofocus: true,
	required: true,
	maxlength: 255
}) }}

<div>
	{% for tab in emailBlastType.getFieldLayout().getTabs() %}
		<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
			{% include "_includes/fields" with {
				fields:  tab.getFields(),
				element: emailBlast,
				static:  (static is defined ? static : false)
			} only %}
		</div>
	{% endfor %}
</div>
