{% extends "sproutemail/_layouts/elementindex" %}
{% set title = "Email"|t %}
{% set elementType = 'SproutEmail_EmailBlast' %}

{% set emailBlastTypes = craft.sproutEmail.getEmailBlastTypes('blast') %}

{% block sidebar %}
	
	{% if emailBlastTypes|length %}

    <div class="buttons">
      <div class="btngroup submit">
        <div class="btn submit menubtn add icon">{{ "New Email"|t }}</div>
        <div class="menu">
          <ul>

            {% if emailBlastTypes|length > 1 %}
              {% for emailBlastType in emailBlastTypes %}
                <li><a href="{{ url('sproutemail/emailblasts/'~emailBlastType.id~'/new') }}">{{ emailBlastType.name|t }}</a></li>
              {% endfor %}
            {% endif %}

            <li style="border-top:1px solid #eee;"></li>
            <li><a href="{{ url('sproutemail/settings/notifications/edit/new') }}">Notification</a></li>

          </ul>
        </div>
      </div>
    </div>
  
  {% else %}
      
    <div class="buttons">
      <a class="btn submit add icon" href="{{ url('sproutemail/settings/emailblasttypes/edit/new') }}">{{ "New Email Type"|t }}</a>
    </div>

  {% endif %}

  {{ parent() }}

{% endblock %}
