{% import "_includes/forms" as forms %}

<div class="body ">
	<h1>{{ 'Send Test Email'|t }}</h1>

	<table class="data fullwidth">
		<tbody>
		<tr>
			<td><strong>{{ "Subject"|t }}</strong></td>
			<td class="title">{{ "[Test] - " ~ campaignEmail.title }}</td>
		</tr>

		<tr>
			<td><strong>{{ "Recipients"|t }}</strong></td>
			<td>

				{% set baseUrl = craft.request.getServerName() %}
				{% set placeholderEmails = 'email@' ~ baseUrl ~ ', email2@' ~ baseUrl %}

				{{ forms.textarea({
					id:   "recipients",
					name: "recipients",
					class: "code",
					placeholder: placeholderEmails

				}) }}

			</td>
		</tr>
		</tbody>
	</table>

	<div class="spinner hidden"></div>
</div>

<div class="footer">
	<div class="buttons right">
		<button class="btn submit actions"
						data-email-id="{{ campaignEmail.id }}"
						data-action="sproutEmail/campaignEmails/sendTestEmail">{{ "Send Test"|t }}</button>
	</div>
	<div class="buttons left secondary-buttons">
		<button id="close" class="btn">{{ "Cancel"|t }}</button>
	</div>
</div>