{% set entries = craft.sproutEmail.getCampaignList('MailGun') %}

{% if(entries|length > 0) %}

	{{ forms.field({
		label: "Campaigns (optional)"|t,
		instructions: "Select a campaign to associate with this section."|t,
		errors: (campaign is defined ? campaign.getErrors('emailProviderRecipientListId') : null) ,
	}, forms.select({
		name: 'sproutEmail[emailProviderRecipientListId][campaign]',
		options : entries,
		
	})) }}

	{# value: (campaign is defined and campaign.emailProviderRecipientListId.campaign ? campaign.emailProviderRecipientListId.campaign : null) #}

{% endif %}

<hr />

{% set mailing_list = craft.sproutEmail.getSubscriberList('MailGun') %}

{% if(mailing_list|length > 0) %}

	{{ forms.field({
		label: "Mailing Lists"|t,
		instructions: "Select one or more mailing lists to send your Entries in this Section."|t,
		errors: (campaign is defined ? campaign.getErrors('emailProviderRecipientListId') : null) ,
	}, forms.checkboxGroup({
		name: 'sproutEmail[emailProviderRecipientListId][list]',
		options : mailing_list,
		values: (campaign is defined and campaign.emailProviderRecipientListId ? campaign.emailProviderRecipientListId : null)
	})) }}

{% else %}
	
	<p class="recipients-not-defined" >
		{{ "You must first create a mailing list in your Mailgun account."|t }}
	</p>

{% endif %}

<hr />