{#
SendGrid specific api settings.
#}
<h3>MailGun</h3>

{% set settings = craft.sproutEmail.getEmailProviderSettings('MailGun') %}

{{ forms.textField({
	label: "API Key"|t,
	name: 'settings[MailGun][apiKey]',
	instructions: "Enter the API Key from your MailGun control panel dashboard"|t,
	value: (settings.apiKey is defined ? settings.apiKey : null)	
}) }}

{{ forms.textField({
	label: "Domain"|t,
	name: 'settings[MailGun][domain]',
	instructions: "Enter the MailGun domain name"|t,
	value: (settings.domain is defined ? settings.domain : null)
}) }}
