{% extends "sproutemail/_layouts/base" %}

{% set body %}
	
	{% set campaigns = craft.sproutemail.getSectionCampaigns({ 'limit': 3 }) %}
	{% set notifications = craft.sproutemail.getNotifications({ 'limit': 3 }) %}

	{% if campaigns|length %}
	 	
		{# If there are Section-based Campaigns, Display them. #}
		{% for campaign in campaigns %}
				
			{% if loop.first %}
			<h3>Section-Based Campaigns</h3>
			<table id="campaigns" class="data">
				<thead>
					<th width="25%"></th>
					<th width="35%"></th>
					<th width="15%"></th>
					<th width="20%"></th>
					<td class="thin"></td>
				</thead>
			{% endif %}
			
				<tr data-id="{{ campaign.id }}" data-entry-id="{{ campaign.entryId }}" data-name="{{ campaign.name|t }}">
					<td>
						<a href="{{ url('sproutemail/campaigns/edit/') }}/{{ campaign.id }}"><strong>{{ campaign.name }}</strong></a>
						&nbsp;&nbsp;<span style="color: #999;text-transform:uppercase;font-size:.8em">{{ campaign.dateUpdated|date('F d, Y') }}</span>
					</td>
    				<td> 
    					<a href="{{ url('sproutemail/campaigns/edit/') }}/{{ campaign.id }}/recipients">
    						Define recipients
    					</a> | 
    					<a href="{{ url('sproutemail/campaigns/edit/') }}/{{ campaign.id }}/template">
    						Define template
    					</a> |
    					<a href="{{ url('sproutemail/campaigns/edit/') }}/{{ campaign.id }}">
    						Settings
    					</a>
    				</td>
    				{% if campaign.sectionId and campaign.entryId and campaign.textTemplate and campaign.emailProvider %}
    				<td>				    
    					<div style="color:#999;">{{ campaign.handle }} / {{ campaign.slug }}</div>
    					<a href="{{ siteUrl }}/{{campaign.htmlTemplate}}?sectionId={{campaign.sectionId}}&handle={{campaign.handle}}&entryId={{campaign.entryId}}&slug={{campaign.slug}}" target="_blank">HTML</a> 
    					or 
    					<a href="{{ siteUrl }}/{{campaign.textTemplate}}?sectionId={{campaign.sectionId}}&handle={{campaign.handle}}&entryId={{campaign.entryId}}&slug={{campaign.slug}}" target="_blank">Text</a> 
    				</td>
    				<td>
    					<div style="color:#999;">{{ campaign.emailProvider }}</div>
    					Send 
    					| 
    					<a href="#" class="export" >Export</a>  
    					| 
    					Status
    				</td>
    				{% else %}
    				<td colspan=2">
    				<i>This campaign is incomplete.</i>
    				</td>
    				{% endif %}
					<td class="thin">
						<a class="delete icon" title="Delete"></a>
					</td>
				</tr>

			{% if loop.last %}
			</table>
			{% endif %}

		{% endfor %}

		<hr>

	{% endif %}


	{% if notifications|length %}
	 	
	 	{% for campaign in notifications %}

			{% if loop.first %}
			<h3>Notifications</h3>
			<table id="campaigns" class="data">
				<thead>
					<th width="25%"></th>
					<th width="35%"></th>
					<td class="thin"></td>
				</thead>
			{% endif %}
			
				<tr data-id="{{ campaign.id }}"  data-name="{{ campaign.name|t }}">
					<td>
						<a href="{{ url('sproutemail/notifications/edit/') }}/{{ campaign.id }}#tab-campaign-info"><strong>{{ campaign.name }}</strong></a>
						&nbsp;&nbsp;<span style="color: #999;text-transform:uppercase;font-size:.8em">{{ campaign.dateUpdated|date('F d, Y') }}</span>
					</td>
					<td> 
						<a href="{{ url('sproutemail/notifications/edit/') }}/{{ campaign.id }}#tab-recipients">
							Define recipients
						</a> | 
						<a href="{{ url('sproutemail/notifications/edit/') }}/{{ campaign.id }}#tab-campaign-settings">
							Settings
						</a>
					</td>
					<td class="thin">
						<a class="delete icon" title="Delete"></a>
					</td>
				</tr>

			{% if loop.last %}
			</table>
			{% endif %}

		{% endfor %}

		<hr>

	{% endif %}
	 

	{% if not campaigns|length %}

	 	<div style="width:40%;">

		 	<h2>Create your first Campaign</h2>

		 	<p>Section-based Campaigns are a great way to leverage the power of Craft to manage your content and the benefits of a dedicated email program to manage your email.</p>

		 	<div class="buttons">
				<a class="btn submit icon" href="{{ url('sproutemail/campaigns/new') }}">Create a Campaign &raquo;</a>
			</div>

		</div>

		<hr>

	{% endif %}

	{% if not notifications|length %}

	 	<div style="width:40%;">

		 	<h2>Create your first Notification</h2>

		 	<p>Notifications allow you to trigger emails when certain conditions are met. Create a notification to stay on top of user generated content, keep an eye on publish workflows, or be in the know when something happens on your website.</p>

		 	<div class="buttons">
				<a class="btn submit icon" href="{{ url('sproutemail/notifications/new') }}">Create a Notification &raquo;</a>
			</div>

		</div>

		<hr>

	{% endif %}

{% endset %}
