{% spaceless %}

{% if loop.first %}
	<div class="tableview">
	<table id="sproutemail-sentemails" class="data fullwidth">
		<thead>
			<th></th>
			<th>{{ "Date Sent"|t }}</th>
			<th>{{ "Recipient"|t }}</th>
			<th>{{ "Subject"|t }}</th>

			<th>{{ "Preview"|t }}</th>
			<th>{{ "Resend"|t }}</th>
			<th></th>
		</thead>
		<tbody>

{% endif %}

			<tr class="infoRow" data-id="{{ email.id }}">
				<td class="thin checkbox-cell" data-checkboxcell="">
					<div class="checkbox" title="Select"></div>
				</td>
				<td>
					<span class="status {{ email.status }}"></span> {{ email.dateCreated|date('M j, Y g:ia') }}
				</td>

				<td>
					{{ email.toEmail }}
				</td>

				<td data-titlecell>
					{{ email.title }}
				</td>

				<td>
					<a class="prepare" data-action="sproutEmail/sentEmail/getViewContentModal" data-email-id="{{ email.id }}" href="{{ url('sproutemail/sentemails/view/' ~ email.id) }}">{{ "View Content"|t }}</a>
				</td>
				<td>
			<a class="prepare" data-action="sproutEmail/sentEmail/getResendModal" data-email-id="{{ email.id }}" href="{{	url('sproutemail/sentemails/view/' ~ email.id) }}">{{ "Prepare"|t }}</a>
				</td>

				<td>
					<span class="tableRowInfo" data-icon="info"></span>
				</td>
		</tr>

{% if loop.last and craft.request.getPost("elementAction") == null %}

	 </tbody>
	</table>

	{% include "sproutemail/_modals/box" %}
{% endif %}

</div><!-- tableview  -->

{% endspaceless -%}