{% requirePermission "editSproutFormsSettings" %}

{% extends "sproutemail/_layouts/settings" %}
{% import "_includes/forms" as forms %}
{% import 'sproutemail/_includes/sproutcp' as sprout %}

{% includeCssResource "sproutimport/css/sproutcp.css" %}

{% set title = 'Sprout SEO Integration' %}

{% set content %}

	{% set boxBody %}
	    <p>{{ "Add <a href='{url}' target='_blank'>Sprout SEO</a> to easily add your Campaign Emails to your sitemap and enhance your email meta data at its permanent location on your website."|t({
			    url: "https://sprout.barrelstrengthdesign.com/craft-plugins/seo"
		    })|raw }}</p>
	{% endset %}

	{{ sprout.mediaBox({
		heading: "Make your emails part of your SEO strategy"|t,
		body: boxBody,
		resourceUrl: resourceUrl('sproutemail/icons/sproutseo-icon.svg'),
		resourceAltText: "Sprout SEO Icon"|t,
	}) }}

{% endset %}