{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Edit Campaign" %}

{% set crumbs = [
	{ label: "Sprout Email"|t, url: url('sproutemail/entries') },
  { label: "Settings"|t, url: url('sproutemail/settings') },
] %}

{% set tabs = {
    general: { 
      label: "Campaign"|t,
      url: url('sproutemail/settings/campaigns/edit/' ~ campaignId),
      class: 'campaigninfo'
    },
    recipients:    { 
      label: "Recipients"|t,
      url: url('sproutemail/settings/campaigns/edit/' ~ campaignId ~ '/recipients'),
      class: 'recipients'
    },
    fields: {
      label: "Fields"|t,
      url: url('sproutemail/settings/campaigns/edit/' ~ campaignId ~ '/fields'),
      class: 'fields'
    }
} %}

{% if craft.request.getSegment('6') %}
    {% set selectedTab = craft.request.getSegment('6') %}
{% endif %}


{% set content %}

{% if craft.request.getSegment('6') == 'recipients' %} 
    {% include "sproutemail/settings/campaigns/_tabs/recipients" %}
{% elseif craft.request.getSegment('6') == 'fields' %}
    {% include 'sproutemail/settings/campaigns/_tabs/fields' %}
{% else %}
    {% include "sproutemail/settings/campaigns/_tabs/info" %}
{% endif %}

{% endset %}

{% includeJsResource "sproutemail/js/sproutemail.js" %}