{% extends "_layouts/basecp" %}

{% set title  = 'Preview'|t %}

{% block body %}
<div class="sproutemail-sentemail-header">
	<div class="btngroup sentemail-btngroup">
		<button data-preview-target="html" class="btn active sentemail-btn preview-html-btn">{{ 'HTML'|t }}</button>
		<button data-preview-target="text" class="btn sentemail-btn preview-text-btn">{{ 'Text'|t }}</button>
	</div>
</div>

{% set emailUrl = null %}
{% set separator = '&' %}
{% set htmlBody = null %}
{% set body = null %}

{% if emailType == 'campaign' %}

	{% set email = craft.sproutEmail.getCampaignEmailById(emailId) %}

	{#{% set shareUrl = craft.sproutEmail.getCampaignEmailShareUrl() %}#}

	{% if email.status != 'sent' or not email.getUrl() %}
		{# Draft Email or Email without URLs #}
		{% set emailUrl = craft.sproutEmail.getCampaignEmailShareUrl(email.id, email.campaignTypeId) %}
	{% else %}
		{# Live Email with URLs #}
		{% set emailUrl = email.getUrl() %}
		{% set separator = '?' %}
	{% endif %}

{% endif %}

{% if emailType == 'notification' %}

	{% set email = craft.sproutEmail.getNotificationEmailById(emailId) %}

	{% set emailUrl = actionUrl('sproutEmail/notificationEmails/shareNotificationEmail', {
		notificationId: email.id
	}) %}

{% endif %}

{% if emailType == 'sent' %}

	{% set email = craft.sproutEmail.getSentEmailById(emailId) %}

	{% set body = email.body %}
	{% set htmlBody = email.htmlBody %}

{% endif %}

<section class="sentemail-pane sentemail-html active">

	{% if htmlBody is not empty %}

		<iframe width='100%' src="data:text/html;charset=utf-8,{{ htmlBody|raw|url_encode }}"></iframe>

	{% else %}

		<iframe id="preview-html" src="{{ emailUrl }}"></iframe>

		{#<h3>{{ "No HTML content"|t }}</h3>#}

	{% endif %}

</section>

<section class="sentemail-pane sentemail-text">

	{% if body is not empty %}

		<pre>{{ body }}</pre>

	{% else %}

		<iframe id="preview-text" src="{{ emailUrl }}?type=text"></iframe>

		{#<h3>{{ "No Text content"|t }}</h3>#}

	{% endif %}

</section>


{%- includejsresource 'lib/jquery-2.2.4.min.js' first %}

{% includejs %}

{% set isText = (craft.request.getParam('type') == 'text')? true : false	%}

{% if isText == true %}
	jQuery(document).ready(function() {
		$('.preview-text-btn').click();
	});
{% endif %}

$(".sentemail-btn").click(function() {

$(".sentemail-btn").removeClass('active');
$(this).addClass('active');

var previewTarget      = $(this).data('preview-target');
var previewTargetClass = ".sentemail-" + previewTarget;

$('.sentemail-pane').removeClass('active');
$(previewTargetClass).addClass('active');

})

{% endincludejs %}

<style>

	html {
		overflow: hidden;
		height: 100%;
	}

	body {
		background: #fff;
		box-sizing: border-box;
		height: 100%;
		margin: 0;
		padding-top: 60px;
		width: 100%;
	}

	iframe {
		border: 0;
		height: 100%;
		width: 100%;
	}

	/* Preview Header */
	.sproutemail-sentemail-header {
		border-bottom: 1px solid #eeeeee;
		position: fixed;
		height: 60px;
		top: 0;
		width: 100%;
	}
	.sentemail-btngroup {
		border: 1px solid #ccc;
		border-radius: 3px;
		float: right;
		margin: 15px 15px;
	}
	.sentemail-btngroup .btn {
		background: none;
		border: none;
		padding: 6px 12px;
		outline: none;
		font-size: 12px;
		font-weight: bold;
		color: #6a6a6a;
		float: left;
		height: 30px;
		vertical-align: middle;
		margin: 0;
	}
	.sentemail-btngroup .btn.preview-html-btn {
		border-right: 1px solid #ccc;
	}
	.sentemail-btngroup .btn:hover {
		cursor: pointer;
	}
	.sentemail-btngroup .btn.active {
		background-image: -webkit-linear-gradient(#e4e5e7, #eaebec);
		background-image: -moz-linear-gradient(#e4e5e7, #eaebec);
		background-image: -ms-linear-gradient(#e4e5e7, #eaebec);
		background-image: -o-linear-gradient(#e4e5e7, #eaebec);
		background-image: linear-gradient(#e4e5e7, #eaebec);
	}

	/* Body */
	.sentemail-pane {
		display: none;
		height: 100%;
	}
	.sentemail-pane.active {
		display: block;
	}

	/* Text Preview Body */
	.sentemail-text {
		margin: 10px;
	}
	.sentemail-text pre {
		height: auto;
		min-height: 500px;
		max-height: 500px;
		white-space: pre-wrap;
		width: 100%;
	}

</style>

{% endblock %}