{% extends "sproutemail/_layouts/settings" %}
{% import "_includes/forms" as forms %}

{% set title = 'Mailers' %}

{% set content %}

	{% set mailers = craft.sproutEmail.getCampaignMailers() %}

	{% set mailerTableHtml %}

		{% for mailer in mailers %}

			{% if loop.first %}
				<table id="mailers" class="data fullwidth">
				<thead>
					<th>{{ "Mailer"|t }}</th>
					<th>{{ "Settings"|t }}</th>
					<th>{{ "Description"|t }}</th>
				</thead>
			{% endif %}

			<tr>
				<td>
					{{ mailer.getTitle() }}
				</td>
				<td>
					{% if mailer.getCpSettingsUrl() != null %}
						<a href="{{ mailer.getCpSettingsUrl() }}" title="{{ mailer.getTitle() }}">{{ "Settings"|t }}</a>
					{% endif %}
				</td>
				<td>{{ mailer.getDescription()|md }}</td>
			</tr>

			{% if loop.last %}
				</table>
			{% endif %}

		{% endfor %}

	{% endset %}

	{% if mailerTableHtml is defined %}
		{{ mailerTableHtml }}
	{% endif %}

	<hr>

	<div class="pane">

		<p><b>{{ "Mailers"|t }}</b> – {{ "Custom Mailers for MailChimp and Campaign Monitor can be downloaded from the Sprout Email documentation. <a href='{url}' target='_blank'>Download Mailers</a>"|t({
				url: 'https://sprout.barrelstrengthdesign.com/craft-plugins/email/docs/getting-started/introduction'
			})|raw }}</p>
	</div>

{% endset %}
