
<h1>{{ "Test Notification"|t }}</h1>

<table class="data fullwidth">
	<tbody>
	<tr>
		<td><strong>{{ "Subject Line"|t }}</strong></td>
		<td>{{ entry.title }}</td>
	</tr>

	{% if recipientLists is defined and recipientLists|length %}
	<tr>
		<td><strong>{{ "Recipients"|t }}</strong></td>
		<td>
				<ul>
					{% for list in recipientLists %}
						<li>
							<strong>{{ list.name }}</strong> {{ "with"|t }} <strong>({{ list.recipients|length }})</strong>
							{{ (list.recipients|length == 1 ? "recipient"|t : "recipients"|t) }}
						</li>
					{% endfor %}
				</ul>
		</td>
	</tr>
	{% endif %}

	{% if entry.recipients is defined and entry.recipients|length %}
	<tr>
		<td><strong>{{ "Recipients"|t }}</strong></td>
		<td>
			<ul>
				{% for recipient in entry.recipients|split(',') %}
					<li>{{ recipient }}</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
	{% endif %}

	</tbody>
</table>

<div class="buttons right">
	<button id="close" class="btn">{{ "Cancel"|t }}</button>
	<button
		data-mailer="defaultmailer"
		data-action="sproutEmail/entry/export"
		data-entry-id="{{ entry.id }}"
		data-campaign-id="{{ campaign.id }}"
		class="btn submit actions">
		{% if campaign.isNotification() %}
			{{- "Send Test"|t -}}
		{% else %}
			{{- "Send Campaign"|t -}}
		{% endif %}
	</button>
</div>
