{% extends "sproutemail/_layouts/elementindex" %}

{% set title         = "Email"|t %}
{% set elementType   = "SproutEmail_Entry" %}
{% set campaigns     = craft.sproutEmail.getCampaigns('email') %}
{% set notifications = craft.sproutEmail.getCampaigns('notification') %}

{% block sidebar %}
	<div class="buttons">
		<div class="btngroup submit">
			<div class="btn submit menubtn add icon">{{ "New Email"|t }}</div>
			<div class="menu">
				<ul>
					{% if campaigns|length %}
						{% for campaign in campaigns %}
							<li><a href="{{ url('sproutemail/entries/' ~ campaign.id ~ '/new') }}">{{ campaign.name|t }}</a></li>
						{% endfor %}
						<hr>
					{% endif %}
					<li><a href="{{ url('sproutemail/settings/campaigns/edit/new') }}">{{ "New Campaign"|t }}</a></li>
					<li><a href="{{ url('sproutemail/settings/notifications/edit/new') }}">{{ "New Notification"|t }}</a></li>
				</ul>
			</div>
		</div>
	</div>

	{{ parent() }}
	{# Placeholder Sprout Modal #}
	<div id="sproutmodal" class="modal fitted hidden" style="padding: 1em;">
		<div class="body">
			<div id="content"></div>
			<div class="spinner hidden"></div>
		</div>
	</div>

	{# Placeholder Sprout Modal Content #}
	<div id="sproutmodalcontent" class="hidden" style="padding: 1em;">
		<h2>Response Message</h2>
		<p class="innercontent error"></p>
		<hr>
		<div class="buttons right">
			<button id="close" class="btn">{{ "Close"|t }}</button>
		</div>
	</div>

	{# Placeholder Sprout Modal Loading #}
	<div id="sproutmodalloading" class="hidden" style="padding: 1em;">
		<h2>Loading...</h2>
		<div class="spinner"></div>
	</div>

	{% set statusSnippet %}
		.status.ready {
			background-position: 0 0; // @green
		}
		.status.pending {
			background-position: 0 -10px; // @orange
		}
		.status.disabled {
			background-position: 0 -20px; // @red
		}
	{% endset %}
	{% includeCss(statusSnippet) %}
{% endblock %}
