{% extends "sproutemail/_layouts/elementindex" %}

{% set title         = "Email"|t %}
{% set elementType   = "SproutEmail_Entry" %}
{% set campaigns     = craft.sproutEmail.getCampaigns('email') %}
{% set notifications = craft.sproutEmail.getCampaigns('notification') %}

{% block sidebar %}
	<div class="buttons">
		<div class="btngroup submit">
			<div class="btn submit menubtn add icon">{{ "New Email"|t }}</div>
			<div class="menu">
				<ul>
					{% if campaigns|length %}
						{% for campaign in campaigns %}
							<li><a href="{{ url('sproutemail/entries/' ~ campaign.id ~ '/new') }}">{{ campaign.name|t }}</a></li>
						{% endfor %}
						<hr>
					{% endif %}
					<li><a href="{{ url('sproutemail/settings/campaigns/edit/new') }}">{{ "New Campaign"|t }}</a></li>
					<li><a href="{{ url('sproutemail/settings/notifications/edit/new') }}">{{ "New Notification"|t }}</a></li>
				</ul>
			</div>
		</div>
	</div>

	{{ parent() }}
{% endblock %}
