{% extends "sproutemail/_layouts/elementindex" %}
{% set title = "Email"|t %}
{% set elementType = 'SproutEmail_Entry' %}

{% set campaigns = craft.sproutEmail.getCampaigns('email') %}

{% block sidebar %}
	
	{% if campaigns|length %}

    <div class="buttons">
      <div class="btngroup submit">
        <div class="btn submit menubtn add icon">{{ "New Email"|t }}</div>
        <div class="menu">
          <ul>

            {% if campaigns|length > 1 %}
              {% for campaign in campaigns %}
                <li><a href="{{ url('sproutemail/entries/'~campaign.id~'/new') }}">{{ campaign.name|t }}</a></li>
              {% endfor %}
            {% endif %}

            <li style="border-top:1px solid #eee;"></li>
            <li><a href="{{ url('sproutemail/settings/notifications/edit/new') }}">Notification</a></li>

          </ul>
        </div>
      </div>
    </div>
  
  {% else %}
      
    <div class="buttons">
      <a class="btn submit add icon" href="{{ url('sproutemail/settings/campaigns/edit/new') }}">{{ "New Email Type"|t }}</a>
    </div>

  {% endif %}

  {{ parent() }}

{% endblock %}
