{% extends "sproutemail/_layouts/elementindex" %}

{% set selectedTab = 'recipients' %}
{% set elementType = 'SproutEmail_DefaultMailerRecipient' %}

{% set extraPageHeaderHtml %}
	{% if recipientLists %}
		<div class="buttons">
			{% set newRecipientUrl = url('sproutemail/recipients/new') %}
			<a id="newrecipientbtn" href="{{ newRecipientUrl }}" class="submit btn add icon">{{ "New Recipient"|t }}</a>
		</div>
	{% endif %}
{% endset %}

{% block sidebar %}

	<nav>
		<ul id="lists">
			<li><a data-key="*">{{ "All Recipients"|t }}</a></li>
			{% if recipientLists %}
				{% for list in recipientLists %}
					<li>
						<a
							data-id="{{ list.id }}"
							data-key="recipientlist:{{ list.id }}"
							data-name="{{ list.name }}">
							{{- list.name }} (<strong>{{ list.recipients|length }}</strong>){{ list.dynamic ? '<span>*</span>' : '' }}
						</a>
					</li>
				{% endfor %}
			{% endif %}
		</ul>
	</nav>

	<div class="buttons">
		<div id="newlistbtn" class="btn add icon">{{ "New List"|t }}</div>

			<div id="listsettingsbtn" class="btn settings icon menubtn" title="{{ 'Settings' }}"></div>
			<div class="menu">
				<ul>
					<li><a data-action="rename" role="button">{{ "Rename selected list"|t }}</a></li>
					<li><a data-action="delete" role="button">{{ "Delete selected list"|t }}</a></li>
				</ul>
			</div>
	</div>
{% endblock %}

{% block content %}
	{{ parent() }}
{% endblock %}

{% includeJsResource "sproutemail/js/recipients.js" %}