{% extends 'sproutemail/_recipients/cp' %}
{% import '_includes/forms' as forms %}

{% set selectedTab    = 'recipients' %}
{% set selectedListId = craft.request.getParam('recipientListId') %}

{% if element is empty %}{% exit 404 %}{% endif %}
{% if recipient is defined %}{% set element = recipient %}{% endif %}

{% block content %}
	<div class="sproutemail-defaultmailer">
		<form
			method="post"
			accept-charset="UTF-8"
			data-saveshortcut="1"
			data-saveshortcut-redirect="{{ continueEditingUrl }}">
			<input type="hidden" id="action" name="action" value="sproutEmail/defaultMailer/saveRecipient">

			{% if selectedListId %}
				<input type="hidden" id="redirect" name="redirect" value="sproutemail/recipients/{{ selectedListId }}">
			{% else %}
				<input type="hidden" id="redirect" name="redirect" value="sproutemail/recipients/">
			{% endif %}
			{{ getCsrfInput() }}

			{% if element.id is defined %}<input type="hidden" id="id" name="id" value="{{ element.id }}">{% endif %}
			{% if craft.isLocalized() %}<input type="hidden" name="locale" value="{{ element.locale }}">{% endif %}

			{# BEGIN FORM #}
			<section id="default-fields">
				{{ forms.textField({
					id: 'email',
					name: 'recipient[email]',
					label: "Email"|t,
					required: true,
					autofocus: true,
					value: element is defined ? element.email : null,
					errors: element is defined and element.hasErrors('email') ? element.getErrors('email') : null
				}) }}
				{{ forms.textField({
					id: 'firstName',
					name: 'recipient[firstName]',
					label: "First Name"|t,
					value: element is defined ? element.firstName : null,
					errors: element is defined and element.hasErrors('firstName') ? element.getErrors('firstName') : null
				}) }}
				{{ forms.textField({
					id: 'lastName',
					name: 'recipient[lastName]',
					label: "Last Name"|t,
					value: element is defined ? element.lastName : null,
					errors: element is defined and element.hasErrors('lastName') ? element.getErrors('lastName') : null
				}) }}
			</section>

			<hr>

			{# __SECTION__ #}
			<section class="recipient-lists">
				<h2>Recipient Lists</h2>
				{{ recipientListsHtml }}
			</section>

			<hr>

			{# __SECTION__ #}
			<section class="buttons">
				<div class="btngroup submit">
					<input type="submit" class="btn submit" value="{{ 'Save'|t }}">

					<div class="btn submit menubtn"></div>
					<div class="menu">
						<ul>
							<li><a class="formsubmit" data-redirect="sproutemail/recipients/edit/{id}">{{ "Save and continue editing"|t }}</a></li>
							<li><a class="formsubmit" data-redirect="sproutemail/recipients/new">{{ "Save and add another"|t }}</a></li>
						</ul>
					</div>
				</div>

				{% if element.id is defined and element.id %}
					<input
						type="button"
						class="btn formsubmit"
						data-action="sproutEmail/defaultMailer/deleteRecipient"
						data-confirm="{{ 'Are you sure you want to delete this recipient?'|t }}"
						data-redirect="sproutemail/recipients"
						value="{{ 'Delete'|t }}">
				{% endif %}
			</section>
		</form>
	</div>
{% endblock %}
