{#{% set entries = craft.sproutEmail.getCampaignList('mailgun') %}#}

{#{% if(entries|length > 0) %}#}

	{#{{ forms.field({#}
		{#label: "Campaigns (optional)"|t,#}
		{#instructions: "Select a entry to associate with this section."|t,#}
	{#}, forms.select({#}
		{#name: 'mailgun[campaign][entry]',#}
		{#options : entries,#}

	{#})) }}#}

	{#<hr />#}
{#{% endif %}#}

{% set lists = craft.sproutEmail.getSubscriberList('mailgun') %}

{% if lists|length > 0 %}

	{{ forms.field({
		label: "Mailing Lists"|t,
		instructions: "Select one or more mailing lists to send your Entries in this Section."|t,
	}, forms.checkboxGroup({
		name: 'mailgun[list]',
		options : lists,
		values: ''
	})) }}

{% else %}

	<p class="recipients-not-defined" >
		{{ "You must first create a mailing list in your Mailgun account."|t }}
	</p>

{% endif %}

<hr />
