{% from "_includes/forms" import textField %}

{{ textField({
	label: "Subject Line"|t,
	id: 'subjectLine',
	name: 'subjectLine',
	value: notificationEmail.subjectLine,
	errors:  (notificationEmail is defined ? notificationEmail.getErrors('subjectLine') : null),
	first: true,
	autofocus: true,
	required: true,
	maxlength: 255
}) }}

<div>
	{% for tab in notificationEmail.getFieldLayout().getTabs() %}
		<div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
			{% include "_includes/fields" with {
				fields:  tab.getFields(),
				element: notificationEmail,
				static:  (static is defined ? static : false)
			} only %}
		</div>
	{% endfor %}
</div>
